{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
ARTICLE BANNER COMPONENT
----------------------------------------------------------------------------------------------------------------------
Shows the blog post image with blog post summary on blog post details page. The snippet automatically adjust the image positioning based on its aspect ratio.

********************************************
Supported parameters
********************************************

* show_date
* show_author
* show_comments_count
* layout
{%- endcomment -%}

<div class="article-banner {% if layout == 'image_text_overlay' %}sm:justify-items-center sm:align-items-center{% endif %}">
  <div class="article-banner__content text-custom">
   {%- for tag in article.tags -%}
{% if tag contains "tab_" %}
  {% assign spli_tag_url = tag %}
{% assign spli_tag = tag | split: 'tab_'  %}
  <!-- {{  spli_tag }}
  {{ spli_tag_url }} -->
 {% endif %}
    {%- endfor -%}


{% assign spli_tag = nil %}
{% assign spli_offer_tag = nil %}
{% assign spli_order_tag = nil %}

{%- for tag in article.tags -%}
    {% if tag contains "event_tag_" or tag contains "offer_tag_" or tag contains "order_tag_" %}
      {% assign spli_tag_url = tag %}
        {% assign split_result = tag | split: 'event_tag_' %}
        {% assign spli_tag = spli_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'offer_tag_' %}
        {% assign spli_offer_tag = spli_offer_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'order_tag_' %}
        {% assign spli_order_tag = spli_order_tag | default: split_result[1] %}
    {% endif %}
{%- endfor -%}

    
    {%- if article.tags.size > 0 -%}
      <a href="{{ blog.url }}/tagged/{{ spli_tag_url | handle }}" class="badge bold text-sm"> {% if spli_tag %}
        {{ spli_tag }}
    {% elsif spli_offer_tag %}
        {{ spli_offer_tag }}
    {% elsif spli_order_tag %}
        {{ spli_order_tag }}
    {% endif %}</a>
    {%- endif -%}

    <h1 class="h0">{{- article.title -}}</h1>
 {% if article.metafields.custom.event_date.value != blank  or article.metafields.custom.event_end_date.value != blank %}  
<div class="m-tags-date1">
  <div class="article-meta-end1">{{ article.metafields.custom.event_date.value }} ~ {{ article.metafields.custom.event_end_date.value }}</div>


</div>
    {% endif %}
    <div class="article__meta text-sm">
      {%- if show_date -%}
        <p class="text-with-icon link-faded">
          {%- render 'icon' with 'blog-date' -%} <time>{{- article.published_at | date: format: 'abbreviated_date' -}}</time>
        </p>
      {%- endif -%}

      {%- if show_author -%}
        <p class="text-with-icon link-faded">
          {%- render 'icon' with 'blog-author' -%} {{- 'blog.post.written_by' | t: author: article.author -}}
        </p>
      {%- endif -%}

      {%- if show_comments_count and article.comments_enabled? -%}
        <a href="#blog-post-comments" class="text-with-icon link-faded">
          {%- render 'icon' with 'blog-comment' -%}
          {{- 'blog.comments.count' | t: count: article.comments_count -}}
        </a>
      {%- endif -%}
    </div>
  </div>
{% comment %}
  {%- if article_image != blank -%}
    {%- capture sizes -%}(max-width: 1149px) 100vw, {% if layout == 'image_text_overlay' %}min({{ settings.page_width }}px, 100vw){% elsif layout == 'content_first' %}1000px{% else %}(max-width: 1399px) calc(100vw * 0.60 - 40px), calc(min({{ settings.page_width }}px, 100vw) * 0.60 - 64px){% endif %}{%- endcapture -%}
    <div class="article-banner__image">
      {{- article_image | image_url: width: 1500 | image_tag: loading: 'lazy', sizes: sizes , widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200' -}}
    </div>
  {%- endif -%}{% endcomment %}
</div>