{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  VERTICAL FACETING
  ----------------------------------------------------------------------------------------------------------------------

  Show the faceting in vertical mode (notably used on desktop for the sidebar and on mobile mode). This snippet supports
  the following options:

  ********************************************
  Supported variables
  ********************************************

  * results: either collection or search drop to extract the filters from
  * show_sort_by: whether the sort by is added or not
  * show_filters: whether the filters are visible or not
  * update_on_change: if set to true the results will reload as soon as an option is changed
{%- endcomment -%}

{%- capture context -%}{% if update_on_change %}sidebar{% else %}drawer{% endif %}{%- endcapture -%}
{%- capture id_prefix -%}facets-{{ context }}-{{ section.id }}{%- endcapture -%}

<form
  id="facet-form"
  is="facet-form"
  section-id="{{ section.id }}"
  {% if update_on_change %}
    update-on-change
  {% endif %}
  method="GET"
  action="{{ request.path }}"
  class="facets-vertical"
>
  {%- comment -%}We always reset to the first page so that when criteria change, the page is restored to the first one{%- endcomment -%}
  <input type="hidden" name="page" value="">
  <input type="hidden" name="section_id" value="{{ section.id }}" disabled>

  {%- if results.current_type != blank or results.current_vendor != blank -%}
    <input type="hidden" name="q" value="{{ results.current_vendor | default: results.current_type | escape }}">
  {%- endif -%}

  {%- if request.page_type == 'search' -%}
    <input type="hidden" name="q" value="{{ results.terms | escape }}">
    <input type="hidden" name="type" value="product">
  {%- endif -%}

  {%- if show_sort_by -%}
    <div class="checkbox-list">
      <div class="scroll">
        <label class="checkbox-list-title">商品排序</label>
        {%- assign selected_sort_by = results.sort_by | default: results.default_sort_by -%}

        {%- for option in results.sort_options -%}
          {%- if option.name != blank -%}
            {%- if option.value == selected_sort_by -%}
              {%- assign checked = true -%}
            {%- else -%}
              {%- assign checked = false -%}
            {%- endif -%}

            {% unless option.value contains 'title-ascending'
              or option.value contains 'title-descending'
              or option.value contains 'manual'
              or option.value contains 'best-selling'
            %}
              {%- render 'checkbox',
                type: 'radio',
                label: option.name,
                name: 'sort_by',
                value: option.value,
                checked: checked,
                context: context
              -%}
            {% endunless %}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  {%- elsif results.sort_by != blank -%}
    <input type="hidden" name="sort_by" value="{{ results.sort_by }}">
  {%- endif -%}

  {%- if show_filters -%}
    {%- unless update_on_change -%}
      <div class="facets-drawer__floating-apply">
        {%- assign apply_label = 'collection.faceting.apply_filters' | t -%}
        {%- render 'button',
          type: 'button',
          content: apply_label,
          size: 'xl',
          stretch: true,
          is: 'facet-apply-button'
        -%}
      </div>
    {%- endunless -%}

    <noscript style="display: block; margin-top: 20px;">
      {%- assign button_content = 'collection.faceting.apply_filters' | t -%}
      {%- render 'button', type: 'submit', content: button_content, size: 'lg', stretch: true -%}
    </noscript>
  {%- endif -%}
</form>
