{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  LINE ITEM
  ----------------------------------------------------------------------------------------------------------------------

  This component renders a single line item product information, and is used on order and cart page.

  ********************************************
  Supported variables
  ********************************************

  * line_item: the line item to render (required)
  * show_desktop_quantity: if set to true (for instance on cart drawer), the quantity is also shown on the line
{%- endcomment -%}

{%- if line_item.variant.inventory_management != blank and line_item.variant.inventory_policy == 'deny' -%}
  {%- assign line_max_quantity = line_item.variant.inventory_quantity -%}
{%- endif -%}

<line-item class="line-item">
  <div class="checkbox-container">
    <input type="checkbox" id="m-select-pro" class="checkbox-item" checked>
  </div>

  {%- if line_item.image != blank -%}
    <div class="line-item__media-wrapper">
      {{-
        line_item.image
        | image_url: width: line_item.image.width
        | image_tag:
          loading: 'lazy',
          sizes: '(max-width: 740px) 80px, 96px',
          widths: '80,96,160,192',
          class: 'line-item__media rounded-xs1'
      -}}
      <pill-loader class="pill-loader"></pill-loader>
    </div>
  {%- endif -%}

  <div class="line-item__info">
    <div>
      <div class="m-vendor">
        <!-- mk-mds -->
        {% capture series_tags %}
  {%- for tag in line_item.product.tags -%}
    {%- if tag contains "series:" -%}
      {%- assign tag_split = tag | split: 'series:' -%}
      /{{- tag_split[1] | strip -}}
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}
        <p>{{- series_tags | strip | remove_first: '/' -}}</p>
        <!-- end-mk-mds -->
        <!-- <p>{{ line_item.product.vendor }}</p> -->
      </div>
      <div class="v-stack gap-0.5">
        {%- if line_item.url != blank -%}
          <a href="{{ line_item.url }}" class="bold">
            <span class="reversed-link reversed-link-m hover:show">
              {{- line_item.product.title | default: line_item.title -}}
            </span>
          </a>
        {%- else -%}
          <p class="bold">{{ line_item.product.title | default: line_item.title }}</p>
        {%- endif -%}
        {% comment %}
          <!-- {%- render 'price-list', line_item: line_item -%} -->
        {% endcomment %}
      </div>
    </div>

    {%- unless line_item.product.has_only_default_variant or line_item.gift_card -%}
      <!-- mk-mds -->
      <div class="linespace">
        {% if line_item.variant.option1 != blank %}
          <div class="m-color">
            色相 :
            <p class="text-sm text-subdued vg">{{ line_item.variant.option1 }}</p>
          </div>
        {% endif %}
        {% if line_item.variant.option2 != blank %}
          <div class="m-size">
            尺寸 :
            <p class="text-sm text-subdued vg">{{ line_item.variant.option2 }}</p>
          </div>
        {% endif %}
        {% if line_item.variant.option3 != blank %}
          <div class="m-size">
            選項 :
            <p class="text-sm text-subdued vg">{{ line_item.variant.option3 }}</p>
          </div>
        {% endif %}
      </div>
      <!-- end-mk-mds -->
    {%- endunless -%}
    <div class="line-price-mob">{{ line_item.final_line_price | money }}</div>

    {%- if line_item.selling_plan_allocation -%}
      <p class="text-sm text-subdued">{{ line_item.selling_plan_allocation.selling_plan.name }}</p>
    {%- endif -%}

    {%- unless line_item.properties == blank -%}
      <ul class="list-disc">
        {%- for property in line_item.properties -%}
          {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

          {%- if property.last == blank or first_character_in_key == '_' -%}
            {%- continue -%}
          {%- endif -%}

          <li class="text-sm text-subdued">
            {%- if property.last contains '/uploads/' -%}
              <a href="{{ property.last }}" class="link">{{ property.last | split: '/' | last }}</a>
            {%- else -%}
              {{ property.first }}: {{ property.last }}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endunless -%}

    {%- if line_item.line_level_discount_allocations != blank -%}
      <ul class="contents" role="list">
        {%- for discount_allocation in line_item.line_level_discount_allocations -%}
          <li class="badge">
            {%- render 'icon' with 'discount' -%}
            {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  {%- if show_desktop_quantity -%}
    <div class="line-item__actions text-subdued hidden sm:block">
      <line-item-quantity class="v-stack gap-2 hhh">
        <input
          class="quantity-input"
          type="text"
          is="quantity-input"
          inputmode="numeric"
          {% if line_max_quantity %}
            max="{{ line_max_quantity }}"
          {% endif %}
          data-line-key="{{ line_item.key }}"
          aria-label="{{ 'cart.order.change_quantity' | t | escape }}"
          value="{{ line_item.quantity }}"
        >
        <span class="text-xs text-center">
          <a href="{{ line_item.url_to_remove }}" class="link">{{ 'cart.order.remove' | t }}</a>
        </span>
      </line-item-quantity>
    </div>
  {%- endif -%}
  <div class="text-sm text-subdued sm:hidden mobile_quantity">
    {%- if line_item.url_to_remove -%}
      <line-item-quantity class="h-stack justify-center gap-3 bbb">
        <div class="m-quantity-cuss">
          <span class="text-xs">
            <a href="{{ line_item.url_to_remove }}" class="link">
              <!-- {{ 'cart.order.remove' | t }} -->
              <!-- mk-mds -->
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 2L2 14" stroke="#3C3C3C" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 2L14 14" stroke="#3C3C3C" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <!-- end-mk-mds -->
            </a>
          </span>
          <div class="m-quantity-cus">
            <button
              class="quantity-button update_crt qty-btn-minus"
              data-action="decrease"
              data-line-key="{{ line_item.key }}"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M3.625 8H12.375" stroke="#3C3C3C" stroke-linejoin="round"/>
              </svg>
            </button>
            <input
              class="quantity-input cart__qty-input"
              type="text"
              is="quantity-input"
              inputmode="numeric"
              {% if line_max_quantity %}
                max="{{ line_max_quantity }}"
              {% endif %}
              data-line-key="{{ line_item.key }}"
              aria-label="{{ 'cart.order.change_quantity' | t | escape }}"
              value="{{ line_item.quantity }}"
            >
            <button
              class="quantity-button update_crt qty-btn-plus"
              data-action="increase"
              data-line-key="{{ line_item.key }}"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M9 4.625V13.375" stroke="#3C3C3C" stroke-linejoin="round"/>
                <path d="M4.625 9H13.375" stroke="#3C3C3C" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </line-item-quantity>

    {%- else -%}
      {{- 'customer.order.quantity' | t }}: {{ line_item.quantity -}}
    {%- endif -%}
  </div>
</line-item>
