{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
BLOG POST COMPONENT
----------------------------------------------------------------------------------------------------------------------

Renders a single blog post (optionally highlighted)

********************************************
Supported parameters
********************************************

* article: the article to render. If no article is passed then a placeholder is generated
* show_excerpt: if set to true, it will show the excerpt first or truncated part of the main content if none is set
* show_date
* show_author
* show_comments_count
* show_category: if set to true, the first tag of the article is shown as a category
* featured: if set to true, the blog post takes the full width with a different layout
* background: the background to use for the card when the blog post is featured
* text_color: the text color to use for the card when the blog post is featured
* sizes: the sizes attribute to show for loading the images
{%- endcomment -%}




{% assign event_m_utc = article.metafields.custom.event_end_date | date: '%Y-%m-%d' | date: '%s' | date: '%Y-%m-%d' %}
{% assign current_date_utc = 'now' | date: '%Y-%m-%d' %}



   
{% assign product_id = article.metafields.custom.enable_product_blog %}
{% assign product = all_products[product_id] %}
{% assign product_start_date = article.metafields.custom.event_date | date: '%s' %}
{% assign product_end_date =  article.metafields.custom.event_end_date | date: '%s' %}
{% assign currentDate = "now" | date: "%s" %}


{% if product_id %}
  {% if  product_start_date  %}

  <!-- <h2>{{ product.url }}</h2> -->
 {%- capture card_content -%}

{% assign spli_tag = nil %}
{% assign spli_offer_tag = nil %}
{% assign spli_order_tag = nil %}

{%- for tag in article.tags -%}
    {% if tag contains "event_tag_" or tag contains "offer_tag_" or tag contains "order_tag_" %}
        {% assign split_result = tag | split: 'event_tag_' %}
        {% assign spli_tag = spli_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'offer_tag_' %}
        {% assign spli_offer_tag = spli_offer_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'order_tag_' %}
        {% assign spli_order_tag = spli_order_tag | default: split_result[1] %}
    {% endif %}
{%- endfor -%}
   
  {%- if article -%}
    {%- if article.image != blank -%}
       {% if currentDate > product_start_date and currentDate < product_end_date %}
      <a href="{{ product.url }}" class="blog-post-card__figure blog-post-card-rel">
        {% else %}
        <div class="blog-post-card__figure blog-post-card-rel"> 
         {% endif %}
       {% if currentDate > product_start_date and currentDate > product_end_date %}<div class=" blog-event-ovrlay"></div>{% endif %}
        {%- if featured != true and show_category and article.tags.size > 0 -%}
          <span class="badge m-badge badge--primary">
    {% if spli_tag %}
        {{ spli_tag }}
    {% elsif spli_offer_tag %}
        {{ spli_offer_tag }}
    {% elsif spli_order_tag %}
        {{ spli_order_tag }}
    {% endif %}
</span>
         <!-- <span class="badge m-badge badge--primary">{{ blog.title }}</span> -->
        {%- endif -%}

        {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000', class: 'w-full h-full object-cover zoom-image zoom-image1' -}}
      
     {% if currentDate > product_start_date and currentDate > product_end_date %}
      <div class="content-details">
        <h3 class="content-title">
        {{ article.metafields.custom.event_third_tag_text.value }}
        </h3>
        
        
      </div>
      {% endif %}
      {% if currentDate > product_start_date and currentDate < product_end_date %}
         </a>
        {% else %}
        </div>
        {% endif %}
    {%- endif -%}
  {%- else -%}
    <div class="blog-post-card__figure tt">
      {{- 'image' | placeholder_svg_tag: 'placeholder zoom-image' -}}
    </div>
  {%- endif -%}

  <div class="blog-post-card__info blog-post-card_info_me dd">
    <div class="v-stack v-stack-m  {% if featured %}gap-5 sm:gap-6{% else %}gap-4 sm:gap-5{% endif %}">
      <div class="v-stack gap-3 {% if featured %}sm:gap-5{% else %}sm:gap-4{% endif %}">
        {%- if featured and show_category and article.tags.size > 0 -%}
          <span class="badge badge--current badge--lg">{{ article.tags | first }}</span>
        {%- endif -%}

        <p class="{% if heading_size != blank %}{{ heading_size }}{% elsif featured %}h2{% else %}h3{% endif %}">
          {%- if article -%}
            <a href="{{ product.url }}">{{ article.title | strip_html }}</a>
          {%- else -%}
            {{- 'general.on_boarding.blog_post_title' | t -}}
          {%- endif -%}
        </p>

        {%- if show_excerpt -%}
          {%- if article -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ article.excerpt_or_content | strip_html | truncate: 80 }}</p>
          {%- else -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ 'general.on_boarding.blog_post_excerpt' | t }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {% if article.metafields.custom.event_date.value != blank  or article.metafields.custom.event_end_date.value != blank %}  
      <div class="m-tags-date">
         <div class="article-meta-end">{{ article.metafields.custom.event_date.value }} ~ {{ article.metafields.custom.event_end_date.value }}</div>


</div>
{% endif %}
      {%- if show_date or show_author or show_comments_count -%}
        <div class="blog-post-card__meta">
          {%- if show_date -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-date' -%}
              <span class="text-sm">{{- article.published_at | default: 'now' | date: format: 'abbreviated_date' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_author -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-author' -%}
              <span class="text-sm">{{- article.author | default: 'John D.' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_comments_count and article.comments_enabled? -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-comment' -%}
              <a href="{{ article.url }}#blog-post-comments" class="text-sm">{{ 'blog.comments.count' | t: count: article.comments_count }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

{%- if featured -%}
  <blog-post-card {% render 'surface', class: 'blog-post-card  blog-post-card-event m blog-post-card--featured snap-center group rounded', background: background, text_color: text_color, background_fallback: 'bg-secondary' %}>
    {{- card_content -}}
  </blog-post-card>
{%- else -%}
  <blog-post-card class="blog-post-card   blog-post-card-event m snap-center group">
    {{- card_content -}}
  </blog-post-card>
{%- endif -%}

  
    {% else %}

 {%- capture card_content -%}

{% assign spli_tag = nil %}
{% assign spli_offer_tag = nil %}
{% assign spli_order_tag = nil %}

{%- for tag in article.tags -%}
    {% if tag contains "event_tag_" or tag contains "offer_tag_" or tag contains "order_tag_" %}
        {% assign split_result = tag | split: 'event_tag_' %}
        {% assign spli_tag = spli_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'offer_tag_' %}
        {% assign spli_offer_tag = spli_offer_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'order_tag_' %}
        {% assign spli_order_tag = spli_order_tag | default: split_result[1] %}
    {% endif %}
{%- endfor -%}
  
  {%- if article -%}
    {%- if article.image != blank -%}
          
      <a class="blog-post-card__figure  blog-post-card-rel ">
   {% if event_m_utc == current_date_utc %}<div class=" blog-event-ovrlay"></div>{% endif %}
        {%- if featured != true and show_category and article.tags.size > 0 -%}
          <span class="badge m-badge badge--primary">
    {% if spli_tag %}
        {{ spli_tag }}
    {% elsif spli_offer_tag %}
        {{ spli_offer_tag }}
    {% elsif spli_order_tag %}
        {{ spli_order_tag }}
    {% endif %}
</span>
         <!-- <span class="badge m-badge badge--primary">{{ blog.title }}</span> -->
        {%- endif -%}

       
    {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000', class: 'w-full h-full object-cover zoom-image zoom-image1' -}}
    {% if product_start_date == product_end_date %}
      <div class="content-details">
        <h3 class="content-title">{{ article.metafields.custom.event_third_tag_text.value }}</h3>
      </div>
      {% endif %}
      </a>
    {%- endif -%}
  {%- else -%}
    <div class="blog-post-card__figure nn">
      {{- 'image' | placeholder_svg_tag: 'placeholder zoom-image' -}}
    </div>
  {%- endif -%}

  <div class="blog-post-card__info blog-post-card_info_me">
    <div class="v-stack v-stack-m  {% if featured %}gap-5 sm:gap-6{% else %}gap-4 sm:gap-5{% endif %}">
      <div class="v-stack gap-3 {% if featured %}sm:gap-5{% else %}sm:gap-4{% endif %}">
        {%- if featured and show_category and article.tags.size > 0 -%}
          <span class="badge badge--current badge--lg">{{ article.tags | first }}</span>
        {%- endif -%}

        <p class="{% if heading_size != blank %}{{ heading_size }}{% elsif featured %}h2{% else %}h3{% endif %} nnnjj">
          {%- if article -%}
           {{ article.title | strip_html }}
          {%- else -%}
            {{- 'general.on_boarding.blog_post_title' | t -}}
          {%- endif -%}
        </p>

        {%- if show_excerpt -%}
          {%- if article -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ article.excerpt_or_content | strip_html | truncate: 80 }}</p>
          {%- else -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ 'general.on_boarding.blog_post_excerpt' | t }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {% if article.metafields.custom.event_date.value != blank  or article.metafields.custom.event_end_date.value != blank %}  
      <div class="m-tags-date">
         <div class="article-meta-end">{{ article.metafields.custom.event_date.value }} ~ {{ article.metafields.custom.event_end_date.value }}</div>


</div>
{% endif %}
      {%- if show_date or show_author or show_comments_count -%}
        <div class="blog-post-card__meta">
          {%- if show_date -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-date' -%}
              <span class="text-sm">{{- article.published_at | default: 'now' | date: format: 'abbreviated_date' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_author -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-author' -%}
              <span class="text-sm">{{- article.author | default: 'John D.' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_comments_count and article.comments_enabled? -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-comment' -%}
              <a href="{{ article.url }}#blog-post-comments" class="text-sm">{{ 'blog.comments.count' | t: count: article.comments_count }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

{%- if featured -%}
  <blog-post-card {% render 'surface', class: 'blog-post-card  blog-post-card-event tt blog-post-card--featured snap-center group rounded', background: background, text_color: text_color, background_fallback: 'bg-secondary' %}>
    {{- card_content -}}
  </blog-post-card>
{%- else -%}
  <blog-post-card class="blog-post-card  blog-post-card-event tt snap-center group">
    {{- card_content -}}
  </blog-post-card>
{%- endif -%}
   {%- endif -%}
  
   {% else %}
{%- capture card_content -%}

{% assign spli_tag = nil %}
{% assign spli_offer_tag = nil %}
{% assign spli_order_tag = nil %}

{%- for tag in article.tags -%}
    {% if tag contains "event_tag_" or tag contains "offer_tag_" or tag contains "order_tag_" %}
        {% assign split_result = tag | split: 'event_tag_' %}
        {% assign spli_tag = spli_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'offer_tag_' %}
        {% assign spli_offer_tag = spli_offer_tag | default: split_result[1] %}
        
        {% assign split_result = tag | split: 'order_tag_' %}
        {% assign spli_order_tag = spli_order_tag | default: split_result[1] %}
    {% endif %}
{%- endfor -%}
   
  {%- if article -%}
    {%- if article.image != blank -%}
      <a href="{{ article.url }}" class="blog-post-card__figure blog-post-card-rel">

        
 
  {% if event_m_utc == current_date_utc %}<div class=" blog-event-ovrlay"></div>{% endif %}

        
        {%- if featured != true and show_category and article.tags.size > 0 -%}
          <span class="badge m-badge badge--primary">
    {% if spli_tag %}
        {{ spli_tag }}
    {% elsif spli_offer_tag %}
        {{ spli_offer_tag }}
    {% elsif spli_order_tag %}
        {{ spli_order_tag }}
    {% endif %}
</span>
         <!-- <span class="badge m-badge badge--primary">{{ blog.title }}</span> -->
        {%- endif -%}

        {{- article.image | image_url: width: article.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000', class: 'w-full h-full object-cover zoom-image zoom-image1' -}}
     {% if event_m_utc == current_date_utc %}
      <div class="content-details">
        <h3 class="content-title">{{ article.metafields.custom.event_third_tag_text.value }}</h3>
      </div>
      {% endif %}
      </a>
    {%- endif -%}
  {%- else -%}
    <div class="blog-post-card__figure gg">
      {{- 'image' | placeholder_svg_tag: 'placeholder zoom-image' -}}
    </div>
  {%- endif -%}

  <div class="blog-post-card__info blog-post-card_info_me">
    <div class="v-stack v-stack-m  {% if featured %}gap-5 sm:gap-6{% else %}gap-4 sm:gap-5{% endif %}">
      <div class="v-stack gap-3 {% if featured %}sm:gap-5{% else %}sm:gap-4{% endif %}">
        {%- if featured and show_category and article.tags.size > 0 -%}
          <span class="badge badge--current badge--lg">{{ article.tags | first }}</span>
        {%- endif -%}

        <p class="{% if heading_size != blank %}{{ heading_size }}{% elsif featured %}h2{% else %}h3{% endif %}">
          {%- if article -%}
            <a href="{{ article.url }}">{{ article.title | strip_html }}</a>
          {%- else -%}
            {{- 'general.on_boarding.blog_post_title' | t -}}
          {%- endif -%}
        </p>

        {%- if show_excerpt -%}
          {%- if article -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ article.excerpt_or_content | strip_html | truncate: 80 }}</p>
          {%- else -%}
            <p  class="m-para" {% if featured %}class="text-lg"{% endif %}>{{ 'general.on_boarding.blog_post_excerpt' | t }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {% if article.metafields.custom.event_date.value != blank  or article.metafields.custom.event_end_date.value != blank %}  
      <div class="m-tags-date">
         <div class="article-meta-end">{{ article.metafields.custom.event_date.value }} ~ {{ article.metafields.custom.event_end_date.value }}</div>


</div>
{% endif %}
      {%- if show_date or show_author or show_comments_count -%}
        <div class="blog-post-card__meta">
          {%- if show_date -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-date' -%}
              <span class="text-sm">{{- article.published_at | default: 'now' | date: format: 'abbreviated_date' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_author -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-author' -%}
              <span class="text-sm">{{- article.author | default: 'John D.' -}}</span>
            </div>
          {%- endif -%}

          {%- if show_comments_count and article.comments_enabled? -%}
            <div class="text-with-icon link-faded">
              {%- render 'icon' with 'blog-comment' -%}
              <a href="{{ article.url }}#blog-post-comments" class="text-sm">{{ 'blog.comments.count' | t: count: article.comments_count }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

{%- if featured -%}
  <blog-post-card {% render 'surface', class: 'blog-post-card  blog-post-card-event hh blog-post-card--featured snap-center group rounded', background: background, text_color: text_color, background_fallback: 'bg-secondary' %}>
    {{- card_content -}}
  </blog-post-card>
{%- else -%}
  <blog-post-card class="blog-post-card   blog-post-card-event hh snap-center group">
    {{- card_content -}}
  </blog-post-card>
{%- endif -%}

 
  {%- endif -%}