{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
PAGINATION COMPONENT
----------------------------------------------------------------------------------------------------------------------

Create a pagination from the pagination object. To be use, this snippet must be included between a "paginate"/"endpaginate"
block

********************************************
Supported variables
********************************************

* paginate: the paginate object to use (required)
* facet: if set to true, it adds a "facet-link" custom elements to allow live reload of faceting search
* hash: a hash string that is appended to generated URL
* class: extra class being added to the container
{%- endcomment -%}

{%- if paginate.pages > 1 -%}
  <nav class="{{ class }} pagination pagination-m-cus" role="navigation" aria-label="{{ 'general.accessibility.pagination' | t }}">
    {%- if paginate.previous.is_link -%}
      {%- assign previous_page = paginate.current_page | minus: 1 -%}

      <a class="pagination__item page-prev-m group" {% if facet %}is="facet-link"{% endif %} rel="prev" aria-label="{{ 'general.accessibility.go_to_page' | t: index: previous_page }}" href="{{ paginate.previous.url }}{{ hash }}">
        <!-- <span class="animated-arrow animated-arrow--reverse"></span> -->
         <svg xmlns="http://www.w3.org/2000/svg" width="2" height="13" viewBox="0 0 2 13" fill="none">
<path id="Vector 467" d="M1.10156 0.599609V12.2996" stroke="#3C3C3C" stroke-linecap="round"/>
</svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<g id="Component 8">
<path id="Vector 371" d="M11.6992 15.3008L5.39922 9.45078L11.6992 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<g id="Component 8">
<path id="Vector 371" d="M11.6992 15.3008L5.39922 9.45078L11.6992 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
      </a>
    {%- else -%}
      <span class="pagination__item page-prev-m pagination__item--disabled">
        <!-- <span class="animated-arrow animated-arrow--reverse"></span> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="13" viewBox="0 0 2 13" fill="none">
<path id="Vector 467" d="M1.10156 0.599609V12.2996" stroke="#3C3C3C" stroke-linecap="round"/>
</svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<g id="Component 8">
<path id="Vector 371" d="M11.6992 15.3008L5.39922 9.45078L11.6992 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
<g id="Component 8">
<path id="Vector 371" d="M11.6992 15.3008L5.39922 9.45078L11.6992 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
      </span>
    {%- endif -%}
  {%- for page in (1..paginate.pages) -%}
        <li class="pagination-item mandasa_pagination-item{% if page == paginate.current_page %} current_mm{% endif %}">
          <a href="{{ blog.handle }}{% if template == 'search' %}?type=product&q={{ search.terms | escape }}&page={{ page }}{% else %}?page={{ page }}{{ hash }}{% endif %}" {% if facet %}is="facet-link"{% endif %} aria-label="{{ 'general.accessibility.go_to_page' | t: index: page }}">
            {{ page }}
          </a>
        </li>
      {%- endfor -%}
    {%- if paginate.next.is_link -%}
      {%- assign next_page = paginate.current_page | plus: 1 -%}

      <a class="pagination__item  pagination__item-m group" {% if facet %}is="facet-link"{% endif %} rel="next" aria-label="{{ 'general.accessibility.go_to_page' | t: index: next_page }}" href="{{ paginate.next.url }}{{ hash }}">
        <!-- <span class="animated-arrow"></span> -->
       <svg class="page-m-next" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Component 9">
<path id="Vector 371" d="M6.30078 15.3008L12.6008 9.45078L6.30078 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
  <svg class="page-mm-next" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Component 9">
<path id="Vector 371" d="M6.30078 15.3008L12.6008 9.45078L6.30078 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="2" height="13" viewBox="0 0 2 13" fill="none">
<path id="Vector 467" d="M1.10156 0.599609V12.2996" stroke="#3C3C3C" stroke-linecap="round"/>
</svg>

      </a>
    {%- else -%}
      <span class="pagination__item pagination__item-m pagination__item--disabled">
        <!-- <span class="animated-arrow"></span> -->
        <svg class="page-m-next" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Component 9">
<path id="Vector 371" d="M6.30078 15.3008L12.6008 9.45078L6.30078 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
  <svg class="page-mm-next" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Component 9">
<path id="Vector 371" d="M6.30078 15.3008L12.6008 9.45078L6.30078 3.60078" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="2" height="13" viewBox="0 0 2 13" fill="none">
<path id="Vector 467" d="M1.10156 0.599609V12.2996" stroke="#3C3C3C" stroke-linecap="round"/>
</svg>
      </span>
    {%- endif -%}
  </nav>
{%- endif -%}
