<div class="il-collectionListShop il-collectionListShop--{{ section.id }}">
  <div class="il-collectionListShop__container">
    <div class="il-collectionListShop__textWithImage">
      <div class="il-collectionListShop__textButton">
        {%- for block in section.blocks -%}
          {% assign getCollection = collections[block.settings.collection] %}
          {% if block.type == 'textbutton' %}
            {% assign getCollectionTitle = getCollection.title | downcase %}
            {% assign collectionTitle = collection.title | downcase %}
            {% assign getBlockTitle = block.settings.collection_title | downcase %}
            {% if block.settings.collection != blank %}
              <a
                href="{{ getCollection.url }}"
                class="il-collectionListShop__textLink text-p text-p-16{% if collectionTitle ==  getCollectionTitle %} active{% endif %}"
              >
                {{ getCollection.title }}
              </a>
            {% else %}
              <a
                href="{{ block.settings.link }}"
                class="il-collectionListShop__textLink text-p text-p-16{% if collectionTitle == getBlockTitle %} active{% endif %}"
              >
                {{ block.settings.collection_title }}
              </a>
            {% endif %}
          {% endif %}
        {%- endfor -%}
      </div>
      {% assign getCollectionTitle = collection.title %}
      <div class="il-collectionListShop__imageButton{% if getCollectionTitle == '所有商品' or getCollectionTitle == 'all' %} il-collectionListShop__imageButton--all{% endif %}">
        {%- for block in section.blocks -%}
          {% assign getCollection = collections[block.settings.collection] %}
          {% if block.type == 'imagebutton' %}
            <div class="il-collectionListShop__imageCollection">
              {% if block.settings.collection != blank %}
                <a href="{{ getCollection.url }}" class="il-collectionListShop__imageLinkLink text-p text-p-16">
                  {% if getCollection.image != blank %}
                    <img
                      src="{{ getCollection.image | img_url: 'master' }}"
                      width="100%"
                      height="100%"
                      class="il-collectionListShop__collectionImage"
                    >
                  {% endif %}
                  {{ getCollection.title }}
                </a>
              {% endif %}
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<style>
  .il-collectionListShop--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .il-collectionListShop__textButton {
    display: flex;
    gap: 50px;
    padding: 28px 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    background: var(--color-grey-09);
  }

  .il-collectionListShop__imageButton {
    display: none;
    gap: 10px;
    text-align: var(--text-center);
  }

  .il-collectionListShop__imageButton.il-collectionListShop__imageButton--all {
    display: flex;
  }

  .il-collectionListShop__collectionImage {
    background: linear-gradient(140deg, #9D9D9D -2.57%, rgba(100, 100, 100, 0.00) 40.69%);
    background-blend-mode: multiply;
    margin-bottom: 8px;
  }

  .il-collectionListShop__imageCollection {
    flex-basis: 12.5%;
  }

  .template-collection .collection-banner .h0 {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 50px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
  }

  .il-collectionListShop .il-collectionListShop__textLink {
    white-space: nowrap;
  }

  .il-collectionListShop .il-collectionListShop__textButton .il-collectionListShop__textLink.active {
    text-decoration: underline;
  }

  @media (max-width: 1000px) {
    .il-collectionListShop__textButton {
      gap: 25px;
      padding: 28px;
    }
  }

  @media (max-width: 768px) {
    .il-collectionListShop--{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }

    .il-collectionListShop__textButton {
      gap: 28px;
      padding: 17px 20px;
      margin-bottom: 37px;
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }

    .il-collectionListShop__textButton::-webkit-scrollbar {
      display: none;
    }

    .il-collectionListShop__imageButton {
      flex-wrap: wrap;
      column-gap: 2px;
      row-gap: 16px;
    }

    .il-collectionListShop__imageLinkLink {
      font-size: var(--font-size-12);
    }

    .il-collectionListShop__imageCollection {
      flex-basis: 32.8%;
    }

    .il-collectionListShop__textCollectionTitle {
      min-width: max-content;
    }

    .il-collectionListShop__textWithImage {
      position: relative;
    }

    .il-collectionListShop__textWithImage:after {
      content: '';
      background: linear-gradient(270deg, #F9F8F7 20%, rgba(249, 248, 247, 0.60) 81.52%);
      position: absolute;
      width: 100%;
      max-width: 58px;
      height: 54px;
      top: 0;
      right: 0;
    }

    .il-collectionAllProductTab__tabName:last-child {
      margin-right: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "Collections Shop",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 100
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Text Button",
      "type": "textbutton",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "Collection Title",
          "info": "If you select collection this title not showing"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If you select collection this link not working"
        }
      ]
    },
    {
      "name": "Image Button",
      "type": "imagebutton",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Shop"
    }
  ]
}
{% endschema %}
