<div class="il-collectionAllProductTab il-collectionAllProductTab--{{ section.id }}">
  <div class="il-collectionAllProductTab__container">
    <div class="il-collectionAllProductTab__body">
      {% if section.settings.heading != blank %}
        <div class="il-collectionAllProductTab__headingWrap">
          <h2 class="il-collectionAllProductTab__heading text-p text-p--30">
            {{ section.settings.heading }}
          </h2>
        </div>
      {% endif %}
      <div class="il-collectionAllProductTab__tabMainContent">
        <div class="il-collectionAllProductTab" data-tab-container>
          <div class="il-collectionAllProductTab__tabsCard">
            <div class="il-collectionAllProductTab__tabsInnerCard">
              {% for block in section.blocks %}
                <div
                  id="tab-{{ forloop.index }}"
                  class="il-collectionAllProductTab__tabName text-p text-p--16"
                  data-name="{{ forloop.index }}"
                  data-tab-target
                >
                  {{ block.settings.tab_name }}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="il-collectionAllProductTab__tabContent">
            {% for block in section.blocks %}
              {%- assign collection = collections[block.settings.collection] -%}
              <div
                class="il-collectionAllProductTab__block"
                id="tab-content-{{ forloop.index }}"
                data-tab-content
                data-content-target="{{ forloop.index }}"
              >
                <div class="il-collectionAllProductTab__collectionImage">
                  <div class="il-collectionAllProductTab__collection">
                    <div class="il-collectionAllProductTab__collectionLeftImage">
                      {% if block.settings.image != blank %}
                        <div class="il-collectionAllProductTab__imageWithProducts">
                          <img
                            src="{{ block.settings.image | img_url: 'master' }}"
                            class="il-collectionAllProductTab__image"
                          >
                        </div>
                        <div class="il-collectionAllProductTab__products">
                          {% for product in collection.products limit: 5 %}
                            {% assign productEvent = product.metafields.custom.product_launch_event.value %}
                            {% if productEvent.launching_event_applied_or_not != false %}
                              <div
                                class="il-collectionAllProductTab__collectionProductsPopup il-collectionAllProductTab__collectionProductsPopup--{{ forloop.index }}--{{ block.id }}"
                                data-popupMainNavigator
                                data-variantID="{{ product.id }}"
                              >
                                <span
                                  class="il-collectionAllProductTab__navigator il-collectionAllProductTab__navigator--{{ block.id }}"
                                  data-popupNavigator
                                >
                                  <img src="{{ 'navigator-icon.png' | file_img_url }}">
                                </span>
                                <div class="il-collectionAllProductTab__allProducts">
                                  <div class="il-collectionAllProductTab__popupCard">
                                    <div class="il-collectionAllProductTab__popupContent">
                                      <div class="il-collectionAllProductTab__popupSeries">
                                        {% for tag in product.tags %}
                                          {% if tag contains 'series:' %}
                                            {% assign trimmedTag = tag
                                              | remove: 'series: '
                                              | remove: 'series : '
                                              | remove: 'series :'
                                              | downcase
                                            %}
                                            {% if trimmedTag %}
                                              <h5 class="il-collectionAllProductTab__popupType text-p text-p--10">
                                                {{ trimmedTag }}
                                              </h5>
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                      </div>
                                      <h2 class="il-collectionAllProductTab__popupTitle text-p">
                                        {{ product.title }}
                                      </h2>
                                      <h6 class="il-collectionAllProductTab__popupPrice text-p text-p--14">
                                        {%- render 'price-list', product: product- %}
                                      </h6>
                                    </div>
                                    <div class="il-collectionAllProductTab__popupArrow">
                                      <a href="{{ product.url }}" class="il-collectionAllProductTab__popupLink">
                                        {% render 'navigator-arrow' %}
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <div class="il-collectionAllProductTab__rightContentSection">
                      <h3 class="il-collectionAllProductTab__heading text-p text-p--26">
                        {{ block.settings.tab_content_heading }}
                      </h3>
                      <p class="il-collectionAllProductTab__content text-p text-p--16">
                        {{ block.settings.tab_content }}
                      </p>
                      <div class="il-collectionAllProductTab__collectionTagList">
                        {% assign collectionTagList = collection.metafields.custom.collection_tags.value %}
                        {% for collectionTag in collectionTagList %}
                          <p class="il-collectionAllProductTab__tags text-p text-p--14">
                            {{ collectionTag }}
                          </p>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="il-collectionAllProductTab__collectionProducts">
                  {% for product in collection.products limit: 5 %}
                    {% assign productEvent = product.metafields.custom.product_launch_event.value %}
                    {% if productEvent.launching_event_applied_or_not != false %}
                      <div class="il-collectionAllProductTab__collectionInnerProducts" data-collectionTabProducts data-variantID="{{ product.id }}">
                        {%- render 'product-card', product: product -%}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .il-collectionAllProductTab--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .il-collectionAllProductTab {
    background: var(--color-grey-09);
  }

  .il-collectionAllProductTab__block {
    display: none;
  }

  .il-collectionAllProductTab__block[data-content-active='true'] {
    display: block;
  }

  .il-collectionAllProductTab__container {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .il-collectionAllProductTab__heading {
    font-weight: var(--font-weight-500);
    line-height: normal;
    letter-spacing: 2.6px;
    text-transform: capitalize;
    color: var(--color-primary);
  }

  .il-collectionAllProductTab__collection {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .il-collectionAllProductTab__collectionLeftImage,
  .il-collectionAllProductTab__rightContentSection {
    flex-basis: 50%;
    position: relative;
    width: 50%;
  }

  .il-collectionAllProductTab__content {
    padding: 18px 0 50px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: capitalize;
  }

  .il-collectionAllProductTab__collectionTagList {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }

  .il-collectionAllProductTab__tags {
    background: var(--color-grey-03);
    padding: 6px 12px;
    border-radius: 30px;
    color: var(--color-primary);
  }

  .il-collectionAllProductTab__headingWrap .il-collectionAllProductTab__heading {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-500);
    line-height: normal;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: var(--color-primary);
    margin-bottom: 30px;
  }

  .il-collectionAllProductTab__tabsCard {
    margin-bottom: 60px;
  }

  .il-collectionAllProductTab__tabName {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-500);
    background: var(--color-grey-02);
    padding: 20px 30px;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    color: var(--color-primary);
    cursor: pointer;
  }

  .il-collectionAllProductTab__tabName[data-active="true"] {
    background: var(--color-primary);
    color: var(--color-white);
  }

  .il-collectionAllProductTab__tabsInnerCard {
    display: flex;
    gap: 14px;
  }

  .il-collectionAllProductTab__collectionProducts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 40px;
  }

  .template-collection .il-collectionAllProductTab__collectionInnerProducts .product-card__figure {
    background: var(--color-light-beige);
    height: auto;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
  }

  .il-collectionAllProductTab__collectionInnerProducts .product-card__figure .product-card__image,
  .il-collectionAllProductTab__collectionInnerProducts .product-card__figure a {
    height: 100%;
  }

  .product-card__type {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
    color: var(--color-primary);
  }

  .product-card__title .bold {
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
    color: var(--color-primary);
  }

  .price-list .price,
  .price-list .price .nt-dollar {
    font-family: var(--font-secondary);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
    color: var(--color-primary);
  }

  .il-collectionAllProductTab__navigator {
    width: 50px;
    display: block;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }

  .il-collectionAllProductTab__popupCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
    background: var(--color-white);
    width: 100%;
    max-width: 275px;
    padding: 16px;
    z-index: 1;
    position: relative;
  }

  .il-collectionAllProductTab__collectionProductsPopup--active .il-collectionAllProductTab__allProducts {
    display: block;
  }

  .il-collectionAllProductTab__collectionProductsPopup {
    position: relative;
  }

  .il-collectionAllProductTab__allProducts {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 20px;
    max-width: 275px;
  }

  .il-collectionAllProductTab__products {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .il-collectionAllProductTab__popupType,
  .cart-drawer__seriesValue {
    text-transform: uppercase;
    color: var(--color-primary);
  }

  .il-collectionAllProductTab__collectionProducts .product-card {
    border-radius: 0;
    background: var(--color-transparent) !important;
  }

  .il-collectionAllProductTab__popupSeries {
    display: flex;
  }

  .il-collectionAllProductTab__popupType {
    display: flex;
    position: relative;
  }

  .il-collectionAllProductTab__popupSeries .il-collectionAllProductTab__popupType:not(:last-child)::after {
    content: '/';
  }

  .il-collectionAllProductTab__tabContent .product-card__productLabelMainWrap {
    display: none;
  }

  @media (min-width: 768px) {
    {% for block in section.blocks %}
      .il-collectionAllProductTab__collectionProductsPopup--1--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_one }}%;
        left: {{ block.settings.horizontal_position_product_one }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--2--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_two }}%;
        left: {{ block.settings.horizontal_position_product_two }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--3--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_three }}%;
        left: {{ block.settings.horizontal_position_product_three }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--4--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_four }}%;
        left: {{ block.settings.horizontal_position_product_four }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--5--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_five }}%;
        left: {{ block.settings.horizontal_position_product_five }}%;
      }
    {% endfor %}
  }

  @media (max-width: 768px) {
    .il-collectionAllProductTab--{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }

    .il-collectionAllProductTab__tabName {
      padding: 12px 18px;
      text-align: var(--text-center);
      font-size: var(--font-size-12);
      letter-spacing: 1.2px;
      white-space: nowrap;
    }

    .il-collectionAllProductTab__tabsInnerCard {
      gap: 10px;
      overflow: scroll;
    }

    .il-collectionAllProductTab__tabsInnerCard::-webkit-scrollbar,
    .il-collectionAllProductTab__collectionProducts::-webkit-scrollbar,
    .il-collectionAllProductTab__collectionTagList::-webkit-scrollbar,
    .il-collectionAllProductTab__collectionTagList::-webkit-scrollbar {
      display: none;
    }

    .il-collectionAllProductTab__container {
      padding: 0 0 0 20px;
    }

    .il-collectionAllProductTab__collection {
      flex-wrap: wrap;
      gap: 15px;
    }

    .il-collectionAllProductTab__collectionLeftImage,
    .il-collectionAllProductTab__rightContentSection {
      flex-basis: 100%;
      width: 100%;
    }

    .il-collectionAllProductTab__collectionLeftImage {
      padding-right: 20px;
    }

    .il-collectionAllProductTab__collectionProducts {
      display: flex;
      gap: 10px;
      margin-top: 28px;
      overflow: scroll;
    }

    .template-collection .il-collectionAllProductTab__collectionInnerProducts .product-card__figure {
      padding: 0;
      min-height: auto;
      height: auto;
    }

    .il-collectionAllProductTab__collectionInnerProducts {
      width: 100%;
      min-width: 311px;
      width: 110px;
    }

    .il-collectionAllProductTab__collectionProducts .product-card {
      display: flex;
      align-items: center;
      background: var(--color-light-beige) !important;
      padding: 22px 10px;
    }

    .il-collectionAllProductTab__collectionProducts .product-card .product-card__figure {
      width: 100%;
      max-width: 110px;
      margin-right: 10px;
      height: 110px;
    }

    .il-collectionAllProductTab__collectionProducts .product-card .product-card__info {
      padding-top: 0;
    }

    .il-collectionAllProductTab__collectionProducts .product-card .product-card__aside,
    .il-collectionAllProductTab__collectionProducts .product-card__quick-buy,
    .product_card__outSotckText--image {
      display: none;
    }

    .product-card .product_card__outOfSotck .product_card__outSotckText {
      border-radius: 2px;
      background: var(--color-grey-03);
      border: none;
      font-size: 10px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 2.3px;
      color: var(--color-grey-08);
      margin-top: 0;
      max-width: max-content;
      height: auto;
      padding: 4px 8px;
    }

    .il-collectionAllProductTab__collectionProducts .product-card__type {
      font-size: var(--font-size-10);
    }

    .il-collectionAllProductTab__collectionProducts .product-card__title .bold,
    .il-collectionAllProductTab__collectionProducts .price-list .price,
    .il-collectionAllProductTab__collectionProducts .price-list .price .nt-dollar,
    .il-collectionAllProductTab__content,
    .il-collectionAllProductTab__tags {
      font-size: var(--font-size-12);
    }

    .il-collectionAllProductTab__heading {
      font-size: var(--font-size-14);
      letter-spacing: 1.4px;
    }

    .il-collectionAllProductTab__content {
      letter-spacing: 1.2px;
    }

    .il-collectionAllProductTab__tags {
      padding: 4px 12px;
    }

    .il-collectionAllProductTab__content {
      padding: 10px 0 24px;
    }

    .il-collectionAllProductTab__headingWrap .il-collectionAllProductTab__heading {
      font-size: var(--font-size-20);
      line-height: normal;
      letter-spacing: 1.8px;
    }

    {% for block in section.blocks %}
      .il-collectionAllProductTab__collectionProductsPopup--1--{{ block.id }} .il-collectionAllProductTab__navigator--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_one }}%;
        left: {{ block.settings.horizontal_position_product_one }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--2--{{ block.id }} .il-collectionAllProductTab__navigator--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_two }}%;
        left: {{ block.settings.horizontal_position_product_two }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--3--{{ block.id }} .il-collectionAllProductTab__navigator--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_three }}%;
        left: {{ block.settings.horizontal_position_product_three }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--4--{{ block.id }} .il-collectionAllProductTab__navigator--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_four }}%;
        left: {{ block.settings.horizontal_position_product_four }}%;
      }

      .il-collectionAllProductTab__collectionProductsPopup--5--{{ block.id }} .il-collectionAllProductTab__navigator--{{ block.id }} {
        top: {{ block.settings.vertical_position_product_five }}%;
        left: {{ block.settings.horizontal_position_product_five }}%;
      }
    {% endfor %}

    .il-collectionAllProductTab__collectionProductsPopup {
      position: revert;
    }

    .il-collectionAllProductTab__allProducts {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .il-collectionAllProductTab__collectionInnerProducts .product-card__productLabelMainWrap,
    .il-collectionAllProductTab__tabContent .il-productCard__wishList,
    .il-collectionAllProductTab__collectionInnerProducts .product_card__outOfStock {
      display: none;
    }

    .il-collectionAllProductTab__tabsCard {
      margin-bottom: 28px;
    }

    .il-collectionAllProductTab__collectionTagList {
      overflow: scroll;
      flex-wrap: nowrap;
    }
    
    .il-collectionAllProductTab__tags {
      min-width: max-content;
    } 

    .template-collection .il-collectionAllProductTab__collectionProducts .product-card__type {
      word-break: break-all;
      overflow: hidden;
      overflow-x: scroll;
    }

    .template-collection .il-collectionAllProductTab__collectionProducts .product-card__type::-webkit-scrollbar {
      display: none;
    }

    .template-collection .il-collectionAllProductTab__collectionProducts .product-card__type .cart-drawer__seriesValue {
      min-width: max-content;
    }

    .il-collectionAllProductTab__collectionProductsPopup--activeParent .il-collectionAllProductTab__navigator {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
</style>

<script>
  function collectionTabs() {
    var allTabs = document.querySelectorAll('[data-tab-target]');
    var allTabsContent = document.querySelectorAll('[data-tab-content]');
    var tabContainer = document.querySelector('[data-tab-container]');
    if (allTabs.length > 0) {
      allTabs[0].setAttribute('data-active', 'true');
      allTabsContent[0].setAttribute('data-content-active', 'true');
      allTabs.forEach(function(toggler) {
        toggler.addEventListener('click', function() {
          var target = toggler.dataset.name;
          allTabs.forEach(function(elem) {
            elem.removeAttribute('data-active');
          });
          allTabsContent.forEach(function(elem) {
            elem.removeAttribute('data-content-active');
          });
          toggler.setAttribute('data-active', 'true');
          allTabsContent.forEach(function(contentElem) {
            if (contentElem.getAttribute('data-content-target') === target) {
              contentElem.setAttribute('data-content-active', 'true');
            }
          });
          tabContainer.setAttribute('data-tab-container-target', 'true');
        });
      });
    }

    var popupNavigators = document.querySelectorAll('[data-popupNavigator]');
    popupNavigators.forEach(function (navigator) {
      navigator.addEventListener('click', function () {
        popupNavigators.forEach(function (element) {
          element.parentNode.classList.remove('il-collectionAllProductTab__collectionProductsPopup--active');
          this.parentNode.parentNode.classList.remove('il-collectionAllProductTab__collectionProductsPopup--activeParent');
        });
        this.parentNode.classList.add('il-collectionAllProductTab__collectionProductsPopup--active');
        this.parentNode.parentNode.classList.add('il-collectionAllProductTab__collectionProductsPopup--activeParent');
      });
    });

    var popupNavigators = document.querySelectorAll('[data-popupNavigator]');
    function hidePopups() {
      popupNavigators.forEach(function (element) {
        element.parentNode.classList.remove('il-collectionAllProductTab__collectionProductsPopup--active');
        element.parentNode.parentNode.classList.remove('il-collectionAllProductTab__collectionProductsPopup--activeParent');
      });
    }

    popupNavigators.forEach(function (navigator) {
      navigator.addEventListener('click', function (event) {
        event.stopPropagation();
        hidePopups();
        this.parentNode.classList.add('il-collectionAllProductTab__collectionProductsPopup--active');
        this.parentNode.parentNode.classList.add('il-collectionAllProductTab__collectionProductsPopup--activeParent');
      });
    });
    document.body.addEventListener('click', function () {
      hidePopups();
    });
  }

  document.addEventListener('DOMContentLoaded', function() {
    collectionTabs();
  });

  document.addEventListener("shopify:section:load", function(event) {
    collectionTabs();
  });

  $(document).ready(function() {
    if (window.innerWidth < 768) {
      $('[data-popupNavigator]').on('click', function() {
        var $parentDiv = $(this).closest('[data-variantID]');
        if ($parentDiv.length > 0) {
          var variantID = $parentDiv.data('variantid');
          $('[data-collectionTabProducts]').each(function() {
            let getValue = $(this).attr('data-variantid');
            if (variantID == getValue) {
              this.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
            }
          });
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "All Products Tab",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 170
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Product Tabs",
      "type": "producttabs",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "tab_content_heading",
          "label": "Tab Content Heading"
        },
        {
          "type": "textarea",
          "id": "tab_content",
          "label": "Tab Content"
        },
        {
          "type": "range",
          "id": "horizontal_position_product_one",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position Dot One",
          "default": 70
        },
        {
          "type": "range",
          "id": "vertical_position_product_one",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical position Dot One",
          "default": 17
        },
        {
          "type": "range",
          "id": "horizontal_position_product_two",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position Dot Two",
          "default": 15
        },
        {
          "type": "range",
          "id": "vertical_position_product_two",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical position Dot Two",
          "default": 10
        },
        {
          "type": "range",
          "id": "horizontal_position_product_three",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position Dot Three",
          "default": 37
        },
        {
          "type": "range",
          "id": "vertical_position_product_three",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical position Dot Three",
          "default": 37
        },
        {
          "type": "range",
          "id": "horizontal_position_product_four",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position Dot Four",
          "default": 12
        },
        {
          "type": "range",
          "id": "vertical_position_product_four",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical position Dot Four",
          "default": 66
        },
        {
          "type": "range",
          "id": "horizontal_position_product_five",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position Dot Five",
          "default": 67
        },
        {
          "type": "range",
          "id": "vertical_position_product_five",
          "min": 5,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Vertical position Dot Five",
          "default": 66
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "All Products Tab"
    }
  ]
}
{% endschema %}
