{% assign article = section.settings.article %}
{% assign blog = section.settings.blogs %}
<div class="il-featuredBlogs">
  <p class="il-featuredBlogs_articleHeader">{{ section.settings['article-header'] }}</p>
  <div class="il-featuredBlogs__container">
    <div class="il-featuredBlogs_article">
      <div class="il-featuredBlogs__innerContainer">
        <a href="{{ article.url }}" class="il-featuredBlogs_articleImgWrapper">
          <img
            class="il-featuredBlogs_articleImg"
            src="{{ article.image | img_url: "master" }}"
            alt="{{ article.title }}"
            height="auto"
            width="auto"
            loading="lazy"
          >
        </a>
        <div class="il-featuredBlogs_articleContent">
          <div class="il-featuredBlogs_articleTags">
            {% for tag in article.tags %}
              {% if tag contains 'tab' %}
                <p class="il-featuredBlogs__articleTag">{{ tag | remove: 'tab_' | upcase }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <a href="{{ article.url }}" class="il-featuredBlogs__title">{{ article.title }}</a>
          {% if article.content != blank %}
            <p class="il-featuredBlogs__description">{{ article.content | strip_html | truncatewords: 5 }}</p>
          {% endif %}
          {% if article.metafields.custom.hashtag != blank %}
            <p class="il-featuredBlogs_articleHashTags">
              {% for hashtag in article.metafields.custom.hashtag.value %}
                <span>
                  {{ hashtag }}
                </span>
              {% endfor %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="il-featuredBlogs__blogs">
      <div class="il-featuredBlogs__blogsHeader">
        <p class="il-featuredBlogs__blogsHeaderTitle">{{ section.settings['blogs-header'] }}</p>
        <a href="{{ blog.url }}" class="il-featuredBlogs__all il-featuredBlogs__all--desktop">View all</a>
      </div>
      <div class="il-featuredBlogs__blogsList">
        {% for post in blog.articles limit: 2 %}
          <div class="il-featuredBlogs__blogCard">
            <a href="{{ post.url }}" class="il-featuredBlogs__blogsImgWrapper">
              <img 
                src="{{ post.image | img_url: "master" }}"
                alt="{{ post.image.alt }}"
                width="auto"
                height="auto"
                loading="lazy"
              >
              {% for tag in post.tags %}
                {% if tag contains 'tab' %}
                  <p class="il-featuredBlogs__blogTag">{{ tag | remove: 'tab_' | upcase }}</p>
                {% endif %}
              {% endfor %}
            </a>
            <div class="il-featuredBlogs__blogsContent">
              <a href="{{ post.url }}" class="il-featuredBlogs__blogsTitle">
                {{ post.title }}
              </a>
              {% if post.metafields.custom.hashtag != blank %}
                <p class="il-featuredBlogs__blogsHastag">
                  {% for hashtag in post.metafields.custom.hashtag.value %}
                    <span>
                      {{ hashtag }}
                    </span>
                  {% endfor %}
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="il-featuredBlogs__moreBlogs">
        <a href="{{ blog.url }}" class="il-featuredBlogs__all il-featuredBlogs__all--mobile">Explore More</a>
      </div>
    </div>
  </div>
</div>

<style>
  /* il-featuredBlogs container styles */
  .il-featuredBlogs {
    padding: 0 100px;
    padding-top: {{ section.settings['padding-top'] }}px;
    padding-bottom: {{ section.settings['padding-bottom'] }}px;
    background: var(--color-grey-09);
  }

  .il-featuredBlogs__container {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 72.5% 1fr;
  }

  /* Featured article container styles */
  .il-featuredBlogs_article {
    margin-right: 120px;
    padding-right: 120px;
    border-right: 1px solid var(--color-grey-04);
  }

  .il-featuredBlogs_articleHeader {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-500);
    text-transform: var(--text-capitalize);
    line-height: normal;
    letter-spacing: 3px;
    max-width: 1720px;
    margin: 0 auto 40px;
  }

  /* Image wrapper within the featured article styles */
  .il-featuredBlogs_articleImgWrapper {
    width: 100%;
    margin-top: 40px;
  }

  .il-featuredBlogs_articleImg {
    width: 100%;
    object-fit: cover;
    max-width: 1000px;
  }

  /* Content container within the featured article styles */
  .il-featuredBlogs_articleContent {
    margin-top: 25px;
  }

  /* Tags container within the featured article styles */
  .il-featuredBlogs_articleTags {
   display: flex;
   margin-bottom: 14px;
  }

  /* Individual tag within the featured article styles */
  .il-featuredBlogs__articleTag,
  .il-featuredBlogs__blogTag {
    border-radius: 2px;
    border: 1px solid var(--color-primary);
    background: var(--color-white);
    display: flex;
    display: inline-flex;
    height: 22px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-family: var(--font-tertiary);
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-900);
    text-transform: var(--text-uppercase);
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .il-featuredBlogs__blogTag {
    bottom: 12px;
    right: 12px;
    position: absolute;
  }

  /* Title within the featured article styles */
  .il-featuredBlogs__title {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 26px;
    font-weight: var(--font-weight-500);
    line-height: normal;
    margin-top: 14px;
  }

  /* Description within the featured article styles */
  .il-featuredBlogs__description {
    color: var(--color-grey-06);
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: normal;
    margin: 20px 0;
  }

  /* Hashtags within the featured article, post styles */
  .il-featuredBlogs_articleHashTags > span ,
  .il-featuredBlogs__blogsHastag > span {
    color: var(--color-grey-06);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: normal;
    margin-top: 32px;
  }

  /* Additional blogs container styles */
  .il-featuredBlogs__blogs {
    width: auto;
  }

  /* Blogs header styles */
  .il-featuredBlogs__blogsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  /* Blogs header title styles */
  .il-featuredBlogs__blogsHeaderTitle {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-500);
    text-transform: var(--text-capitalize);
    line-height: normal;
    letter-spacing: 2.4px;
  }

  /* View all link styles */
  .il-featuredBlogs__all {
    border: 1px solid var(--color-primary);
    display: inline-flex;
    height: 40px;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .il-featuredBlogs__all.il-featuredBlogs__all--mobile {
    display: none;
  }

  /* Blogs list container styles */
  .il-featuredBlogs__blogsList {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
  }

  /* Blogs image wrapper styles */
  .il-featuredBlogs__blogsImgWrapper {
    position: relative;
    display: inline-block;
  }

  /* Blog content container styles */
  .il-featuredBlogs__blogsContent {
    margin-top: 16px;
  }

  /* Blog title styles */
  .il-featuredBlogs__blogsTitle {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-500);
    line-height: normal;
  }

  /* Blog hashtag styles */
  .il-featuredBlogs__blogsHashtag {
    color: var(--color-grey-04);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: normal;
    margin-top: 14px;
  }

  .il-featuredBlogs__blogsImgWrapper img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .il-featuredBlogs__all:hover {
      background: var(--color-primary);
      border-color: var(--color-primary);
      color: var(--color-white);
    }  
  }

  @media (max-width: 1200px) {
    .il-featuredBlogs {
      padding: 80px 50px 30px 50px;
    }

    .il-featuredBlogs_article {
      margin-right: 60px;
      padding-right: 60px;
    }
  }

  @media (max-width: 768px) {
    .il-featuredBlogs {
      padding: 0 20px;
      padding-top: 60px;
      padding-bottom: 30px;
    }

    .il-featuredBlogs__container {
      display: flex;
      flex-direction: column;
    }

    .il-featuredBlogs_article {
      margin-right: 0px;
      padding-right: 0px;
      width: 100%;
      border: none;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid var(--color-grey-04);
    }

    .il-featuredBlogs_articleHeader {
      text-align: center;
      font-size: var(--font-size-18);
      letter-spacing: 1.8px;
      margin-bottom: 20px;
    }

    .il-featuredBlogs_articleImgWrapper {
      margin-top: 20px;
    }

    .il-featuredBlogs_articleContent {
      margin-top: 20px;
    }

    .il-featuredBlogs__title {
      font-size: var(--font-size-16);
      margin-top: 10px
    }

    .il-featuredBlogs__description {
      font-size: var(--font-size-14);
      margin-top: 16px
    }

    .il-featuredBlogs__blogsHashtag {
      font-size: var(--font-size-12);
      margin-top: 20px;
    }

    .il-featuredBlogs__articleTag {
      font-size: 8px;
    }

    .il-featuredBlogs__all.il-featuredBlogs__all--desktop {
      display: none;
    }

    .il-featuredBlogs__all.il-featuredBlogs__all--mobile {
      display: flex;
      font-weight: var(--font-weight-500);
      font-size: var(--font-size-12);
    }

    .il-featuredBlogs__blogsHeaderTitle {
      font-size: var(--font-size-16);
    }

    .il-featuredBlogs__blogsHeader {
      margin-bottom: 20px;
    }

    .il-featuredBlogs__blogTag {
      font-size: 8px;
    }

    .il-featuredBlogs__blogsTitle {
      font-size: var(--font-size-14);
      margin-top: 13px;
    }

    .il-bannerCardSlider__content {
      bottom: 38px;
      left: 20px;
      right: 20px;
    }

    .il-featuredBlogs__moreBlogs {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>

{% schema %}
{
  "name": "Featured Blogs",
  "settings": [
    {
      "type": "text",
      "id": "article-header",
      "label": "Article Header"
    },
    {
      "type": "article",
      "id": "article",
      "label": "Article"
    },
    {
      "type": "text",
      "id": "blogs-header",
      "label": "Blogs Header"
    },
    {
      "type": "blog",
      "id": "blogs",
      "label": "Blogs"
    },
    {
      "type": "range",
      "id": "padding-top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 130
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "Featured Blogs"
    }
  ]
}
{% endschema %}
