{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
  <style>
    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        {%- if newsletter_block != blank -%}
          --footer-block-list-gap: var(--spacing-10);
        {%- endif -%}

        --footer-block-list-justify-content: space-between;
      }
    }
  </style>
{%- endif -%}

<style>
  .footer.il-footer {
    background-color: var(--color-pale);
    padding: 0;
  }

  .footer.il-footer .footer__block.footer__block--menu {
    display: flex;
    flex-basis: 57%;
    max-width: unset;
    gap: 54px;
  }

  .footer.il-footer .footer__block-list {
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: space-between;
  }

  .footer.il-footer .footer__block.footer__block--text,
  .footer.il-footer .footer__block.footer__block--contact {
    flex-basis: 20%;
    gap: 14px;
  }

  .footer.il-footer .footer__block.footer__block--text.footer__block__textWithImg {
    width: 100%;
    flex-basis: 100%;
    gap: 14px;
  }

  .footer.il-footer .container {
    max-width: unset;
    width: 100%;
    margin: 0;
    padding: 60px 100px 50px;
  }

  .footer.il-footer .footer__block--list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__block--listItemTitle {
    margin-bottom: 10px;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
  }

  .footer__block--listItem {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
  }

  .footer__block__textWithImg .logo-img {
    max-width: 86px;
    height: 24px;
  }

  .footer.il-footer .prose.text-subdued p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
  }

  .footer.il-footer .footer__wrapper {
    display: block;
  }

  .footer__block--contactBlock {
    display: flex;
    gap: 5px;
  }

  .footer__block--contactBlockItem {
    display: flex;
  }

  .footer__block--contactBlockTitle {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
  }

  .footer__block--contactBlock a,
  .footer__block--contactBlockItem p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
  }

  .footer__block--socialsLink {
    display: flex;
    gap: 4px;
  }

  .footer.il-footer .footer__block--email {
    text-decoration: underline;
  }

  .footer.il-footer .footer__block--list .outlet,
  .footer.il-footer .footer__block--list .qna {
    font-family: var(--font-secondary);
  }
  
  .footer__aside-bottom {
    margin-top: 15px;
  }

  @media (max-width: 1440px) {
    .footer.il-footer .footer__block.footer__block--contact {
      order: 1;
      flex-basis: 100%;
    }
  }

  @media (max-width: 1200px) {
    .footer.il-footer .container {
      padding: 60px 20px 50px;
    }

    .footer.il-footer .footer__block.footer__block--menu {
      flex-basis: 100%;
      gap: 0;
      justify-content: space-between;
    }
  }

  @media (max-width: 768px) {
    .footer.il-footer .container {
      padding: 30px 20px 60px;
    }

    .footer.il-footer .footer__block-list {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .footer.il-footer .footer__block.footer__block--menu {
      flex-direction: column;
      gap: 14px;
    }

    .footer.il-footer .footer__block--list {
      gap: 12px;
    }

    .footer.il-footer .footer__block--listItem {
      font-size: var(--font-size-12);
    }

    .footer__block--listItemTitle {
      margin-bottom: 6px;
    }

    .footer.il-footer .footer__block.footer__block--contact {
      order: 1;
    }

    .footer.il-footer .footer__block.footer__block--text.footer__block__textWithImg {
      margin-top: 40px;
    }

    .footer.il-footer .footer__block.footer__block--contact {
      margin-top: 32px;
    }

    .footer__block__textWithImg .logo-img {
      max-width: 72px;
      height: auto;
    }
  }
</style>

<div class="footer il-footer">
  <div class="container">
    <div class="footer__wrapper">
      {%- comment -%}
        ------------------------------------------------------------------------------------------------------------------
        BLOCK AREA
        ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list empty:hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank
                  or block.settings.content != blank
                  or shop.features.follow_on_shop?
                  and block.settings.enable_follow_on_shop
                -%}
                  <div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'text-with-img' -%}
                {%- if block.settings.title != blank or block.settings.content != blank -%}
                  <div
                    class="footer__block footer__block--text footer__block__textWithImg"
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings['logo-img'] != blank -%}
                      <img class="logo-img" src="{{ block.settings.logo-img | img_url: 'master' }}" alt="logo">
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- if block.settings.menu != blank -%}
                  <div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_menu_title -%}
                      <p class="bold">{{ block.settings.menu_title | default: block.settings.menu.title }}</p>
                    {%- endif -%}

                    {%- for link in block.settings.menu.links -%}
                      {% assign linkTitle = link.title | downcase %}
                      <ul class="footer__block--list" role="list">
                        <li class="footer__block--listItemTitle">
                          <a href="{{ link.url }}" class="inline-block link-faded {{ linkTitle }}">{{ link.title }}</a>
                        </li>
                        {% for subLink in link.links %}
                          {% assign subLinkTitle = subLink.title | downcase %}
                          <li class="footer__block--listItem">
                            <a href="{{ subLink.url }}" class="inline-block link-faded {{ subLinkTitle }}">
                              {{- subLink.title -}}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {%- endfor -%}
                  </div>
                {%- endif -%}

              {%- when 'contact-list' -%}
                <div class="footer__block footer__block--contact" {{ block.shopify_attributes }}>
                  <div class="footer__block--contactInfo">
                    <div class="footer__block--contactBlock">
                      <p class="footer__block--contactBlockTitle">{{ block.settings.contact_service }}:</p>
                      <a href="tel:{{ block.settings.contact_service_number }}">
                        {{- block.settings.contact_service_number -}}
                      </a>
                    </div>
                    <div class="footer__block--contactBlock">
                      <p class="footer__block--contactBlockTitle">{{ block.settings['contact-phone'] }}:</p>
                      <a href="tel:{{ block.settings.contact_number }}">
                        {{- block.settings.contact_number -}}
                      </a>
                    </div>
                    <div class="footer__block--contactBlock">
                      <p class="footer__block--contactBlockTitle">{{ block.settings.timing_title }}:</p>
                      <div class="footer__block--contactBlockItem">
                        {{- block.settings.timing_detail -}}
                      </div>
                    </div>
                    <div class="footer__block--contactBlock">
                      <p class="footer__block--contactBlockTitle">{{ block.settings['email-title'] }}:</p>
                      <a class="footer__block--email" href="mailto:{{ block.settings.email }}">
                        {{- block.settings.email -}}
                      </a>
                    </div>
                  </div>
                  <div class="footer__block--socialsLink">
                    <a class="footer__block--socialLink" href="{{ block.settings.insta-link }}" target="_blank">
                      <img class="footer__block--socialIcon" src="{{ block.settings.insta-icon | img_url: "master" }}"
                    ></a>
                    <a class="footer__block--socialLink" href="{{ block.settings.facebook-link }}" target="_blank">
                      <img class="footer__block--socialIcon" src="{{ block.settings.facebook | img_url: "master" }}"
                    ></a>
                  </div>
                </div>

              {%- when 'newsletter' -%}
                <div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
                    {{-
                      block.settings.image
                      | image_url: width: block.settings.image.width
                      | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths
                    -}}
                  {%- endif -%}

                  <div class="v-stack gap-6">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_size }}">{{- block.settings.title | escape -}}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                        {%- render 'input',
                          name: 'contact[email]',
                          label: label,
                          type: 'email',
                          required: true,
                          autocomplete: 'email',
                          enterkeyhint: 'send',
                          self_submit: true
                        -%}
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
        ------------------------------------------------------------------------------------------------------------------
        SECONDARY AREA
        ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside empty:hidden">
        {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          SOCIAL MEDIA + LOCALIZATION
          ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
        {%- endif -%}

        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if social_media != blank or country_selector or locale_selector -%}
          <div class="footer__aside-top">
            {{- social_media -}}

            {%- if country_selector or locale_selector -%}
              <div class="h-stack gap-6">
                {%- if social_media == blank -%}
                  {%- assign popover_horizontal_position = 'start' -%}
                {%- else -%}
                  {%- assign popover_horizontal_position = 'end' -%}
                {%- endif -%}

                {%- if country_selector -%}
                  {%- render 'localization-selector',
                    type: 'country',
                    show_country_name: section.settings.show_country_name,
                    show_country_flag: section.settings.show_country_flag,
                    popover_horizontal_position: popover_horizontal_position
                  -%}
                {%- endif -%}

                {%- if locale_selector -%}
                  {%- render 'localization-selector',
                    type: 'locale',
                    popover_horizontal_position: popover_horizontal_position
                  -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          COPYRIGHT + PAYMENT METHODS
          ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="footer__aside-bottom">
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__payment-icons h-stack wrap gap-2">
              {%- for type in shop.enabled_payment_types -%}
                {{- type | payment_type_svg_tag -}}
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "To configure social media, go to your social media settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "Show Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
          "default": true
        }
      ]
    },
    {
      "type": "text-with-img",
      "name": "Text With Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo-img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "contact-list",
      "name": "Contact",
      "settings": [
        {
          "type": "text",
          "id": "contact_service",
          "label": "Service Title",
          "default": "免付費客服專線"
        },
        {
          "type": "text",
          "id": "contact_service_number",
          "label": "Contact Service Number"
        },
        {
          "type": "text",
          "id": "contact-phone",
          "label": "Contact Title",
          "default": "手機請撥打"
        },
        {
          "type": "text",
          "id": "contact_number",
          "label": "Contact Number"
        },
        {
          "type": "text",
          "id": "timing_title",
          "label": "Timing Title",
          "default": "客服專線時間"
        },
        {
          "type": "richtext",
          "id": "timing_detail",
          "label": "Timing Detail"
        },
        {
          "type": "text",
          "id": "email-title",
          "label": "Email Title",
          "default": "客服信箱"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "image_picker",
          "id": "facebook",
          "label": "Facebook Icon"
        },
        {
          "type": "url",
          "id": "facebook-link",
          "label": "Facebook Link"
        },
        {
          "type": "image_picker",
          "id": "insta-icon",
          "label": "Instagram Icon"
        },
        {
          "type": "url",
          "id": "insta-link",
          "label": "Instagram Link"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "Show menu title",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu title",
          "info": "Replaces the default menu title"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Title size",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sign up to our newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
