{% assign productEvent = product.metafields.custom.product_launch_event.value %}
{% assign templateCommon = product.metafields.custom.template_common %}
{% liquid
  assign now = 'now' | date: '%Y-%m-%dT%H:%M'
%}

{% if templateCommon %}
  <div class="il-imageWithText il-imageWithText--{{ section.id }}{% if section.settings.text_alignment == 'center' %} il-imageWithText--center{% elsif section.settings.text_alignment == 'left' %} il-imageWithText--left{% elsif section.settings.text_alignment == 'right' %} il-imageWithText--right{% endif %}{% if section.settings.custom_class != blank %} {{ section.settings.custom_class }}{% endif %}{% if productEvent.end_date < now %} il-imageWithText--hidden{% endif %}">
    <div class="il-imageWithText__container">
      <div class="il-imageWithText__body">
        <div class="il-imageWithText__headingContent">
          {% if section.settings.sub_title != blank %}
            <h5 class="il-imageWithText__subTitle text-p text-p--14">
              {{ section.settings.sub_title }}
            </h5>
          {% endif %}
          {% if section.settings.main_heading != blank %}
            <h2 class="il-imageWithText__heading text-p text-p--primaryFont text-p--28">
              {{ section.settings.main_heading }}
            </h2>
          {% endif %}
          {% if section.settings.sub_heading != blank %}
            <h3 class="il-imageWithText__subHeading text-p text-p--18">
              {{ section.settings.sub_heading }}
            </h3>
          {% endif %}
        </div>
      </div>
      <div class="il-imageWithText__blocks{% if section.settings.image_alignment == "right" %} il-imageWithText__blocks--imageRight{% endif %}">
        {% for block in section.blocks %}
          <div class="il-imageWithText__card">
            {% if block.settings.image != blank %}
              <div class="il-imageWithText__imageSection">
                <img
                  src="{{ block.settings.image | img_url: 'master' }}"
                  width="100%"
                  height="100%"
                  alt="Image Block"
                  class="il-imageWithText__imageBlock"
                >
              </div>
            {% endif %}
            <div class="il-imageWithText__contentSection">
              {% if block.settings.sub_title != blank %}
                <h5 class="il-imageWithText__blockSubTitle text-p text-p--14">
                  {{ block.settings.sub_title }}
                </h5>
              {% endif %}
              {% if block.settings.heading != blank %}
                <h2 class="il-imageWithText__blockHeading text-p text-p--24">
                  {{ block.settings.heading }}
                </h2>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="il-imageWithText__blockContent text-p text-p--16">
                  {{ block.settings.content }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <style>
    .il-imageWithText--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .il-imageWithText__container {
      width: 100%;
      max-width: 1320px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .il-imageWithText--center {
      text-align: var(--text-center);
    }

    .il-imageWithText--left {
      text-align: var(--text-left);
    }

    .il-imageWithText--right {
      text-align: var(--text-right);
    }

    .il-imageWithText__subTitle,
    .il-imageWithText__imageSubTitle,
    .il-imageWithText__imageHeading {
      font-weight: var(--font-weight-500);
    }

    .il-imageWithText__heading {
      margin: 8px 0 24px;
    }

    .il-imageWithText__card {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 40px;
    }

    .il-imageWithText__imageSection,
    .il-imageWithText__contentSection {
      flex-basis: 50%;
      width: 50%;
    }

    .il-imageWithText__imageBlock {
      width: 100%;
    }

    .il-imageWithText__card:last-child {
      margin-bottom: 0;
    }

    .il-imageWithText__subTitle,
    .il-imageWithText__heading,
    .il-imageWithText__subHeading {
      margin: 0;
      text-align: var(--text-center);
      text-transform: var(--text-capitalize);
    }

    .il-imageWithText__subHeading {
      margin-top: 12px;
      margin-bottom: 50px;
    }

    .il-imageWithText__blocks--imageRight .il-imageWithText__card {
      flex-direction: row-reverse;
    }

    .il-imageWithText__blocks--imgContent .il-imageWithText__blockHeading {
      font-family: var(--font-primary);
      font-size: var(--font-size-28);
      font-weight: var(--font-weight-500);
      line-height: normal;
      color: var(--color-primary);
      margin-bottom: 24px;
    }

    .il-imageWithText--hidden {
      display: none;
    }

    @media (max-width: 768px) {
      .il-imageWithText--{{ section.id }} {
        padding-top: {{ section.settings.mobile_padding_top }}px;
        padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }

      .il-imageWithText__heading {
        font-size: var(--font-size-18);
      }

      .il-imageWithText__subHeading {
        font-size: var(--font-size-14);
      }

      .il-imageWithText__card {
        flex-wrap: wrap;
        gap: 20px;
      }

      .il-imageWithText__imageSection,
      .il-imageWithText__contentSection {
        flex-basis: 100%;
        width: 100%;
      }

      .il-imageWithText__blockHeading {
        font-size: var(--font-size-20);
      }

      .il-imageWithText__blocks--imgContent .il-imageWithText__blockHeading {
        font-size: var(--font-size-16);
        line-height: 24px;
        margin-bottom: 14px;
      }

      .il-imageWithText__blockContent {
        font-size: var(--font-size-14);
        line-height: 24px;
      }

      .il-imageWithText__contentSection {
        text-align: var(--text-center);
      }

      .il-imageWithText__blocks--imageRight .il-imageWithText__card {
        flex-direction: column;
      }

      .il-imageWithText__heading {
        font-size: var(--font-size-18);
      }

      .il-imageWithText__subHeading {
        font-size: var(--font-size-14);
      }
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Image with Text",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 0
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "imagewithtext",
      "name": "Image with Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Main Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text"
    }
  ]
}
{% endschema %}
