{% liquid
  assign productEvent = product.metafields.custom.product_launch_event.value
  assign now = 'now' | date: '%Y-%m-%dT%H:%M'

  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif
%}

{% if section.settings.sub_title != blank
  or section.settings.main_heading != blank
  or section.settings.sub_heading != blank
  or section.settings.video != blank
  or section.settings.image != blank
  or section.settings.image_sub_title != blank
  or section.settings.image_main_heading != blank
  or section.settings.image_sub_heading != blank
%}
  <div class="il-imageBanner--{{ section.id }} il-imageBanner{% if section.settings.text_alignment == 'center' %} il-imageBanner--center{% elsif section.settings.text_alignment == 'left' %} il-imageBanner--left{% elsif section.settings.text_alignment == 'right' %} il-imageBanner--right{% endif %}{% if section.settings.custom_class != blank %} {{ section.settings.custom_class }}{% endif %} il-imageBanner--{{ section.id }}{% if productEvent.end_date < now %} il-imageBanner--hidden{% endif %}">
    <div class="il-imageBanner__container">
      <div class="il-imageBanner__body">
        {% if section.settings.sub_title != blank
          or section.settings.main_heading != blank
          or section.settings.sub_heading != blank
        %}
          <div class="il-imageBanner__headingContent">
            {% if section.settings.sub_title != blank %}
              <h5 class="il-imageBanner__subTitle text-p text-p--14">
                {{ section.settings.sub_title }}
              </h5>
            {% endif %}
            {% if section.settings.main_heading != blank %}
              <h2 class="il-imageBanner__heading text-p text-p--primaryFont text-p--36">
                {{ section.settings.main_heading }}
              </h2>
            {% endif %}
            {% if section.settings.sub_heading != blank %}
              <h3 class="il-imageBanner__subHeading text-p text-p--16">
                {{ section.settings.sub_heading }}
              </h3>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.video != blank %}
          <div class="il-imageBanner__videoWrap">
            <video
              class="il-imageBanner__video"
              loop
              controls
              playsinline
              {% if section.settings.poster_image != blank %}
                poster="{{ section.settings.poster_image | img_url: 'master' }}"
              {% endif %}
            >
              <source src="{{ section.settings.video.sources[1].url }}" type="video/mp4">
            </video>
          </div>
        {% elsif section.settings.image != blank %}
          <div class="il-imageBanner__imageWrap">
            {{
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag: 
                loading: loading,
                fetchpriority: fetchpriority,
                class: "il-imageBanner__image",
                alt: section.settings.image.alt
            }}
          </div>
        {% endif %}
        {% if section.settings.image_sub_title != blank
          or section.settings.image_main_heading != blank
          or section.settings.image_sub_heading != blank
        %}
          <div class="il-imageBanner__imageContent">
            {% if section.settings.image_sub_title != blank %}
              <h5 class="il-imageBanner__imageSubTitle text-p text-p--14">
                {{ section.settings.image_sub_title }}
              </h5>
            {% endif %}
            {% if section.settings.image_main_heading != blank %}
              <h2 class="il-imageBanner__imageHeading text-p text-p--24">
                {{ section.settings.image_main_heading }}
              </h2>
            {% endif %}
            {% if section.settings.image_sub_heading != blank %}
              <div class="il-imageBanner__imageSubHeading text-p text-p--16">
                {{ section.settings.image_sub_heading }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

<style>
  .il-imageBanner--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .il-imageBanner__container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .il-imageBanner--center {
    text-align: var(--text-center);
  }

  .il-imageBanner--left {
    text-align: var(--text-left);
  }

  .il-imageBanner--right {
    text-align: var(--text-right);
  }

  .il-imageBanner__heading {
    font-family: var(--font-secondary);
    line-height: normal;
    letter-spacing: 3.6px;
    font-weight: var(--font-weight-600);
  }

  .il-imageBanner__subHeading {
    margin-top: 8px;
  }

  .il-imageBanner__headingContent {
    margin-bottom: 30px;
  }

  .il-imageBanner--{{ section.id }} .il-imageBanner__imageWrap .il-imageBanner__image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    {% if section.settings.full_width_image == true %}
      max-width: 100%;
    {% else %}  
      max-width: {{ section.settings.image_max_width }}px;
    {% endif %}
  }

  .il-imageBanner__imageSubHeading,
  .il-imageBanner__subHeading {
    line-height: 26px;
  }

  .il-imageBanner__imageContent {
    margin-top: 30px;
  }

  .il-imageBanner__imageSubHeading {
    width: 100%;
    max-width: 649px;
  }

  .il-imageBanner--center .il-imageBanner__imageSubHeading {
    margin: 0 auto;
  }

  .il-imageBanner--left .il-imageBanner__imageSubHeading,
  .il-imageBanner--right .il-imageBanner__imageSubHeading,
  .il-imageBanner--center .il-imageBanner__imageSubHeading {
    margin-top: 16px;
  }

  .il-imageBanner--right .il-imageBanner__imageSubHeading {
    margin-left: auto;
  }

  .il-imageBanner__subTitle,
  .il-imageBanner__imageSubTitle,
  .il-imageBanner__imageHeading {
    font-weight: var(--font-weight-500);
  }

  .il-imageBanner--typeTwo .il-imageBanner__heading {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-500);
    font-family: var(--font-primary);
  }

  .il-imageBanner--typeTwo .il-imageBanner__subHeading {
    font-size: var(--font-size-18);
    line-height: 26px;
    font-family: var(--font-primary);
    margin-top: 20px;
  }

  .il-imageBanner__subTitle {
    margin-bottom: 12px;
  }

  .il-imageBanner--hidden {
    display: none;
  }

  @media (max-width: 768px) {
    .il-imageBanner__subTitle {
      font-size: var(--font-size-12);
      margin-bottom: 10px;
    }

    .il-imageBanner__heading {
      font-size: var(--font-size-28);
      line-height: normal;
      letter-spacing: 1.4px;
    }

    .il-imageBanner__subHeading {
      font-size: var(--font-size-14);
      line-height: 22px;
    }

    .il-imageBanner__headingContent {
      margin-bottom: 20px;
    }

    .il-imageBanner__imageHeading {
      font-size: var(--font-size-16);
      line-height: 26px;
    }

    .il-imageBanner__imageSubHeading {
      font-size: var(--font-size-14);
      line-height: 24px;
      margin-top: 14px;
    }

    .il-imageBanner__imageContent {
      margin-top: 24px;
    }

    .il-imageBanner--{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }

    .il-imageBanner--typeTwo .il-imageBanner__heading {
      font-size: var(--font-size-22);
      line-height: normal;
    }

    .il-imageBanner--typeTwo .il-imageBanner__subHeading {
      font-size: var(--font-weight-14);
      line-height: 22px;
      margin-top: 12px;
    }

    .il-imageBanner--typeTwo .il-imageBanner__headingContent {
      margin-bottom: 24px;
    }
  }
</style>

{% schema %}
{
  "name": "Image Banner with Text",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "full_width_image",
      "label": "Full Width Image",
      "default": true,
      "info": "Set true if you want full width image"
    },
    {
      "type": "range",
      "id": "image_max_width",
      "label": "Image Max Width",
      "min": 600,
      "max": 1200,
      "step": 100,
      "unit": "px",
      "default": 800
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "If you add video then image will be exclude"
    },
    {
      "type": "image_picker",
      "id": "poster_image",
      "label": "Video Poster Image"
    },
    {
      "type": "text",
      "id": "image_sub_title",
      "label": "Image Sub Title"
    },
    {
      "type": "text",
      "id": "image_main_heading",
      "label": "Image Main Heading"
    },
    {
      "type": "richtext",
      "id": "image_sub_heading",
      "label": "Image Content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 0
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "presets": [
    {
      "name": "Image Banner with Text"
    }
  ]
}
{% endschema %}
