<div class="container manda-cart">
  {%- if cart.item_count == 0 -%}
    <div class="empty-state">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'cart', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>

      <div class="prose">
        <p class="h4">{{ 'cart.general.empty' | t }}</p>

        {%- assign button_content = 'cart.general.continue_shopping' | t -%}
        {%- render 'button', href: settings.cart_empty_button_link, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    <div class="page-spacer">
      <div class="cart">
        <div class="cart-header">
          <h1 class="h2">{{ 'cart.general.title' | t }}</h1>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1197" height="2" viewBox="0 0 1197 2" fill="none" class="desktop-border">
          <path d="M-0.00390625 1L1197 1.0001" stroke="#3C3C3C" stroke-width="2"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="320" height="2" viewBox="0 0 320 2" fill="none" class="mobile-border">
          <path d="M0 1H320" stroke="black"/>
          </svg> -->
          {%- if settings.cart_show_free_shipping_threshold -%}
            {%- render 'free-shipping-bar' -%}
          {%- endif -%}
        </div>

        <div class="cart-order">
          <div class="cart-order__summary mandasa_summary">
            {%- comment -%}
            ----------------------------------------------------------------------------------------------------------------
            ORDER SUMMARY
            ----------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}
            <table class="order-summary">
            <div class="select-all-op"><input type="checkbox" class="select-all select-all-mobile" />
              <!-- mk-mds  -->
              <div class="select-all-mob">全部</div> 
              <!-- end-mk-mds  -->
              <div class="dot-mob-m"></div>
            </div>
              <thead class="order-summary__header">
                <tr>
                  <th class="select-product-m"> <div><input type="checkbox" class="select-all" id="black" /></div> <div>{{ 'cart.order.product' | t }}</div></th>
                  <th class="w-0">{{ 'cart.order.quantity' | t }}</th>
                  <th class="text-end">{{ 'cart.order.total' | t }}</th>
                </tr>
              </thead>

              <tbody class="order-summary__body update_cart_items">
                {%- for line_item in cart.items -%}
                  {%- assign line_max_quantity = '' -%}

                  {%- if line_item.variant.inventory_management != blank and line_item.variant.inventory_policy == 'deny' -%}
                    {%- assign line_max_quantity = line_item.variant.inventory_quantity -%}
                  {%- endif -%}

                  <tr class="cart__row" data-prd-id="{{ line_item.id }}">
                    <td>{%- render 'line-item', line_item: line_item -%}</td>

                    <td class="hidden align-center text-center text-subdued sm:table-cell">
                      <line-item-quantity class="v-stack justify-center gap-2">
                  <div class="m-quantity-cus">  
                      <button class="quantity-button update_crt qty-btn-minus" data-action="decrease" data-line-key="{{ line_item.key }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path d="M3.625 8H12.375" stroke="#3C3C3C" stroke-linejoin="round"/>
                      </svg>    
                      </button>
                      <input class="quantity-input cart__qty-input" type="text" is="quantity-input" inputmode="numeric" {% if line_max_quantity != blank %}max="{{ line_max_quantity }}"{% endif %} data-line-key="{{ line_item.key }}" aria-label="{{ 'cart.order.change_quantity' | t | escape }}" value="{{ line_item.quantity }}">
                      <button class="quantity-button update_crt qty-btn-plus" data-action="increase" data-line-key="{{ line_item.key }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                      <path d="M9 4.625V13.375" stroke="#3C3C3C" stroke-linejoin="round"/>
                      <path d="M4.625 9H13.375" stroke="#3C3C3C" stroke-linejoin="round"/>
                      </svg>
                      </button>
                  </div>
                      </line-item-quantity>
                    </td>

                    <td class="hidden align-center text-subdued text-end sm:table-cell price-m-cart">
                  <!-- mk-mds  -->
                      <div class="mk-cart v-stack justify-center gap-2">     
                        <span class="price-m-cart11">
                        {{ line_item.final_line_price | money }}<br>
                          {%- if settings.currency_code_enabled -%}
                          {{- line_item.compare_at_price | money_with_currency -}}
                          {%- else -%}
                          {{- line_item.compare_at_price | money -}}
                          {%- endif -%}
                        </span>
                        <span class="text-xs">
                        <a href="{{ line_item.url_to_remove }}" class="link">
                          <!-- {{ 'cart.order.remove' | t }} -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                          <path d="M10.4648 10.5L1.48729 1.5" stroke="#3C3C3C" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M10.4658 1.5L1.48828 10.5" stroke="#3C3C3C" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </a>
                        </span>
                      </div>
                  <!-- end-mk-mds  -->
                    </td>
                  </tr>
                 
                {%- endfor -%}
              </tbody>
            </table>
            <!-- <svg class="dot-mob-m" width="320" height="1" viewBox="0 0 320 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="320" y2="0.5" stroke="#BEBEBE" stroke-dasharray="2 2"/>
            </svg> -->
    <!-- <div class="dot-mob-m"></div> -->
            {%- comment -%}
            ----------------------------------------------------------------------------------------------------------------
            SHIPPING ESTIMATOR
            ----------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}

            {%- if section.settings.show_shipping_estimator and cart.requires_shipping -%}
              {%- assign accordion_title = 'cart.shipping_estimator.estimate_shipping' | t -%}
              {%- capture accordion_content -%}{%- render 'shipping-estimator' -%}{%- endcapture -%}

              {%- render 'accordion', title: accordion_title, icon: 'picto-box', content: accordion_content, size: 'lg' -%}
            {%- endif -%}
          </div>
              <div class="center-border">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1197" height="2" viewBox="0 0 1197 2" fill="none">
              <path d="M0 1L1197.01 0.999895" stroke="#3C3C3C"/>
              </svg> -->
    </div>
          <div class="m-cart-bottom">   
          <div class="m-cart-left">
    {% if section.settings.cart-tooltip != blank %}
          <div class="cart-tooltip tooltip1">
          <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
          <path d="M20.8854 11.001C20.8854 16.5258 16.4258 21.001 10.929 21.001C5.43224 21.001 0.972656 16.5258 0.972656 11.001C0.972656 5.47617 5.43224 1.00098 10.929 1.00098C16.4258 1.00098 20.8854 5.47617 20.8854 11.001Z" stroke="#9A9A9A"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9285 8.66699C11.5059 8.66699 11.9741 9.03263 11.9741 9.48366V16.017C11.9741 16.468 11.5059 16.8337 10.9285 16.8337C10.351 16.8337 9.88281 16.468 9.88281 16.017V9.48366C9.88281 9.03263 10.351 8.66699 10.9285 8.66699Z" fill="#9A9A9A"/>
          <ellipse cx="10.9274" cy="6.33366" rx="1.16182" ry="1.16667" fill="#9A9A9A"/>
          </svg>
          </span>{{ section.settings.cart-tooltip }}
      <span class="tooltiptext1">{{ section.settings.tooltip_txt_hover }}</span>
          </div>
            {% endif %}
          {% if section.settings.elevator != blank %}
          <div class="m-elevator">
          <p> {{ section.settings.elevator }}</p>
          <div class="m-elevator1">
          <div class="m-ele-cus">
          <div class="select-check-div">
          <input type="radio" class="select-check radio-custom" id="yes" name="yesno" value="Yes" />
          <label for="yes" class="radio-custom-label">{{ section.settings.check-box-select }}</label>
          </div>
          
          <div class="m-ele-cus">
          <input type="radio" class="select-check radio-custom" id="no" name="yesno" value="No" />
          <label for="no" class="radio-custom-label">{{ section.settings.check-box-select1 }}</label>
          </div>
          </div> 
        </div></div>
           {% endif %}
          <!-- check box -->
            <!-- <div class="mandasa_checkbox">
              <p class="cart-attribute__field mandasa_cart_cuss">
    <span>
               <input type="radio"  id="yes" name="attributes[cauldron-engraving]" value="{{ cart.attributes.cauldron-engraving }}" />
               <label for="yes"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M3.98438 9L8.46568 13L15.4366 6" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
<rect x="0.5" y="0.5" width="18.9169" height="19" rx="9.45846" stroke="#D9D9D9"/>
</svg></label>有
   </span>
      <span>
               <input type="radio"  id="no" name="attributes[cauldron-engraving]" value="{{ cart.attributes.cauldron-engraving }}" />
               <label for="no"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M3.98438 9L8.46568 13L15.4366 6" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
<rect x="0.5" y="0.5" width="18.9169" height="19" rx="9.45846" stroke="#D9D9D9"/>
</svg></label> 無
</span>
              </p>
            </div> -->
          <!-- check box -->
          </div>
          <!-- <svg class ="m-cart-left-svg" xmlns="http://www.w3.org/2000/svg" width="320" height="2" viewBox="0 0 320 2" fill="none">
          <path d="M0 1H320" stroke="black"/>
          </svg> -->
    <safe-sticky class="cart-order__recap m-cart-right v-stack gap-6">
            <form action="{{ routes.cart_url }}" method="POST" class="cart-form rounded">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {%- render block -%}

                  {%- when 'totals' -%}
                    <div class="cart-form__totals v-stack gap-2" {{ block.shopify_attributes }}>
                      {%- if block.settings.show_order_weight -%}
                        <div class="h-stack gap-4 justify-between">
                          <span class="text-subdued">{{ 'cart.general.weight' | t }}</span>
                          <span class="text-subdued">{{ cart.total_weight | weight_with_unit }}</span>
                        </div>
                      {%- endif -%}

                      <div class="h-stack gap-4 justify-between m-subtotal">
                        <span class="text-subdued">{{ 'cart.general.subtotal' | t }}</span>
                        <span class="text-subdued f">{{ cart.items_subtotal_price | money }}</span>
                      </div>

                      {% for discount_application in cart.cart_level_discount_applications %}
                        <div class="h-stack gap-4 justify-between">
                          <div class="badge">
                            {%- render 'icon' with 'discount' -%} {{- discount_application.title -}}
                          </div>

                          <span class="text-subdued">-{{ discount_application.total_allocated_amount | money }}</span>
                        </div>
                      {% endfor %}

                      <div class="h-stack gap-4 justify-between m-total">
                        <span class="h5 m-total-head">{{ 'cart.general.total' | t }}</span>
                        <span class="h5 m-total-price total_cus">{{- cart.total_price | money_with_currency -}}</span>
                      </div>
                       <div class="shiping-checkout">
                         <span>{{ section.settings.shiping-checkout }}</span>
                       </div>
                      {%- if block.settings.show_shipping_text -%}
                        {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                          <span class="text-subdued text-sm">{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}</span>
                        {%- elsif cart.taxes_included -%}
                          <span class="text-subdued text-sm">{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}</span>
                        {%- elsif shop.shipping_policy.body != blank -%}
                          <span class="text-subdued  text-sm">{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}</span>
                        {%- else -%}
                          <span class="text-subdued mm-text-subdued  text-sm">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </div>

                  {%- when 'cart_note' -%}
                    <cart-note class="cart-form__note block" {{ block.shopify_attributes }}>
                      {%- assign order_note = 'cart.general.order_note' | t -%}
                      {%- render 'input', name: 'note', multiline: 3, label: order_note, value: cart.note, maxlength: block.settings.maxlength -%}
                    </cart-note>

                  {%- when 'text' -%}
                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued" {{ block.shopify_attributes }}>
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                  {%- when 'offer' -%}
                    {%- assign previous_block_index = forloop.index0 | minus: 1 -%}
                    {%- assign next_block_index = forloop.index0 | plus: 1 -%}

                    {%- if section.blocks[next_block_index].type == 'offer' -%}
                      <div class="v-stack gap-4">
                    {%- endif -%}

                    {%- render 'offer', block: block -%}

                    {%- if section.blocks[previous_block_index].type == 'offer' -%}
                      </div>
                    {%- endif -%}

                  {%- when 'accelerated_buttons' -%}
                    {% if additional_checkout_buttons %}
                      <div class="additional-checkout-buttons additional-checkout-buttons--vertical" {{ block.shopify_attributes }}>
                        {{- content_for_additional_checkout_buttons -}}
                      </div>
                    {% endif %}

                  {%- when 'checkout_button' -%}
                    {%- assign checkout_button = 'cart.general.checkout' | t -%}
              <div class="checkout_button_m">  
                 <div class="delete-product1" type="button"> <button  class="delete-product">{{ section.settings.delete_product }}</button></div>

                    <div class="checkout-cus"> {%- render 'button', type: 'submit', content: checkout_button, size: 'xl', name: 'checkout', stretch: true, block: block, class: "m-btn-cas" -%}</div>
              </div>
                
                  {%- endcase -%}
              {%- endfor -%}
            </form>
            
            {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
              <div class="v-stack gap-4">
                <span class="text-xs text-subdued text-center">{{ 'cart.general.we_accept' | t }}</span>

                <div class="h-stack gap-2 wrap justify-center">
                  {%- for type in shop.enabled_payment_types -%}
                    {{- type | payment_type_svg_tag -}}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          </safe-sticky>
        </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart",
  "class": "shopify-section--main-cart",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "totals",
      "name": "Totals",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_order_weight",
          "label": "Show order weight",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_shipping_text",
          "label": "Show shipping/taxes text",
          "default": true
        }
      ]
    },
    {
      "type": "cart_note",
      "name": "Cart note",
      "limit": 1,
      "settings": [
        {
          "type": "number",
          "id": "max_length",
          "label": "Maximum number of characters"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "checkout_button",
      "name": "Checkout button",
      "limit": 1
    },
    {
      "type": "accelerated_buttons",
      "name": "Accelerated buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Configure accelerated payment buttons in your [payment settings](https://www.shopify.com/admin/settings/payments)."
        }
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "options": [
            {
              "value": "aligned",
              "label": "Aligned horizontally"
            },
            {
              "value": "stacked",
              "label": "Stacked"
            }
          ],
          "default": "aligned"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "picto-coupon"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 20,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Icon width",
          "default": 24
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your shipping rates or discounts.</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping estimator",
      "default": true
    },
    {
      "type": "text",
      "id": "cart-tooltip",
      "label": "Cart Tooltip Text"
    },
     {
      "type": "text",
      "id": "tooltip_txt_hover",
      "label": "Tooltip Text hover"
    },
     {
      "type": "text",
      "id": "delete_product",
      "label": "Delete selected product feature"
    },
     {
      "type": "text",
      "id": "elevator",
      "label": "Elevator Text"
    },
      {
      "type": "text",
      "id": "check-box-select",
      "label": "Yes Check Box Select"
    },
      {
      "type": "text",
      "id": "check-box-select1",
      "label": "No Check Box Select"
    },
     {
      "type": "text",
      "id": "shiping-checkout",
      "label": "Shiping Checkout"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    }
  ]
}
{% endschema %}